<!-- ======================================
showfullmessage = Bulletin Contents
-------------------------------------------
This template displays the entire contents of a Bulletin.
There is a *variation* to output when the viewing user is
Bulletin Owner which allows the owner to Edit and Delete
the bulletin.

There is also the ability to for any Group Member to
comment bulletins *IF* jomcomment is installed.
=========================================== -->

<mos:tmpl name="showfullmessage">
	<div id="showfullmessage-tmpl-wrapper">
		<div id="showfullmessage-main-container">
		
			<div id="showfull-bulletin-header-pane">
				<div id="showfull-bulletin-subject-container">
					<div class="gj_showfull-bulletin-subject">
						<mos:translate>GJ_SUBJECT</mos:translate>: {SUBJECT}
					</div>
				</div>
				
				<div id="showfull-bulletin-created-container">
					<div class="gj_showfull-bulletin-createddate">
						<mos:translate>GJ_CREATED</mos:translate>: {DATE_BUL}
					</div>
				</div>
				
				<div id="showfull-bulletin-author-container">
					<div class="gj_showfull-username">
						<mos:translate>GJ_AUTHOR</mos:translate>:
					</div>
				</div>
				<div class="clearfloat"></div>
				
				<mos:tmpl name="cond_can_edit_post_fullmessage" type="condition" conditionvar="GJ_IS_OWNER" varscope="showfullmessage">
				
					<mos:sub condition="yes">
						<div id="gj_showfull-mod-wrap-left">
							<div class="gj_showfull-mod-edit-post">
								<a href="<mos:sef>index.php?option=com_groupjive&task=editpost&groupid={GROUP_ID}&postid={ID}&Itemid={ITEMID}</mos:sef>">
									<mos:translate>GJ_EDIT</mos:translate>
								</a> &nbsp;&nbsp;
							</div>
						</div>
						
						<div id="gj_showfull-mod-wrap-center">
							<div class="gj_showfull-mod-delete-post">
								<a href="<mos:sef>index.php?option=com_groupjive&task=deletepost&groupid={GROUP_ID}&postid={ID}&Itemid={ITEMID}</mos:sef>">
									<mos:translate>GJ_DELETE</mos:translate>
								</a>
							</div>
						</div>
						
						<div id="gj_showfull-mod-wrap-right">
							<div class="gj_showfull-mod-author-name">
								<a href="<mos:sef>index.php?option=com_comprofiler&task=userProfile&user={AUTHOR_ID}</mos:sef>">
									{AUTHOR_NAME}
								</a>
							</div>
						</div>
						<div class="clearfloat"></div> 
					</mos:sub>
					
				</mos:tmpl>
			</div>
			<!-- end bulletin header pane -->
			
			<div class="showfull-bulletin-content">
				<h3>{SUBJECT}</h3>
				
				<div>
					<div class="sectiontableentry1">
						<p>{POST}</p>
					</div>
				</div>
			</div>
			<!-- end ID Content Pane -->
			
			<div>
				<div>
					{GJ_JOMCOMMENT}
				</div>
			</div>
			
		</div>
		<!-- end showfullmessage-main-container -->
	</div>
	<!-- end showfullmessage-tmpl-wrapper -->
</mos:tmpl>
