<mos:tmpl name="showgroup">
	<div id="showgroup-tmpl-wrapper">
		<h2>{GJ_GROUPNAME}</h2>
		<div class="horlist">{GJ_LINKS}</div>
		<div class="catspacer">&nbsp;</div>
		
		<div id="columnLeft">
			<div id="gj_grouplogo_wrap">
				{GJ_GROUPLOGO}
			</div>
			<div class="catspacer">&nbsp;</div>
			<div id="gj_grouplinks_wrap">
				{GJ_ACTIONS}
				<h3>
					<mos:translate>GJ_MODER_FUNCTION</mos:translate>
				</h3>
				{GJ_MODERATOR_FUNC}
			</div>
			<div class="catspacer">&nbsp;</div>
		</div>
	
		<div class="columnRight">
			<div id="gj_groupinfo_wrap">
				<div id="gj_groupinfo">
					{GJ_GROUPINFO}
				</div>
			</div>
			<div class="creator">
				<a href="<mos:sef>index.php?option=com_comprofiler&task=userProfile&user={GJ_GROUPCREATORID}</mos:sef>">
					{GJ_CREATORIMAGE}
				</a>
				<mos:tmpl name="hidemaillink" type="condition" conditionvar="SHOWMAILLINK" varscope="showgroup">
					<mos:sub condition="1">
				<a href="<mos:sef>index.php?option=com_groupjive&task=mailowner&groupid={GJ_GROUPID}&Itemid={ITEMID}</mos:sef>">
					<img src="images/M_images/emailButton.png" border="0" align="top"/>
				</a>
					</mos:sub>
				</mos:tmpl>
			</div>
		</div>
		
		<div class="catspacer">&nbsp;</div>
	</div>
</mos:tmpl>
