<mos:tmpl name="archive">
	<h4><mos:translate>GJ_GROUP_BUL</mos:translate>:</h4>
	<table width="100%" class="contentpane">
		<tr>
			<td>
				{PAGE_LINKS}
			</td>
			<td>
				{PAGE_LIST_OPTIONS}
			</td>
			<td>
				{PAGE_COUNTER}
			</td>
		</tr>
	</table>
	<table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpane">
		<tr>
		  <td class="sectiontableheader" width="30%">
        <b><mos:translate>GJ_USERNAME</mos:translate></b>
      </td>
      <td class="sectiontableheader">
        <mos:translate>GJ_SUBJECT</mos:translate>      
      </td>
      <td class="sectiontableheader">
        <mos:translate>GJ_CREATED</mos:translate>
      </td>
		</tr>
		
		<mos:tmpl name="list_archive">
		<tr>
      <td valign="top" class="sectiontableentry1">
        <a href="<mos:sef>index.php?option=com_comprofiler&task=userProfile&user={AUTHOR_ID}</mos:sef>">{AUTHOR_NAME}</a>
      </td>
      <td class="sectiontableentry1">
        <a href="<mos:sef>index.php?option=com_groupjive&task=showfullmessage&idm={ID}&groupid={GJ_GROUP}&Itemid={ITEMID}</mos:sef>">{SUBJECT}</a>
      </td>
      <td class="sectiontableentry1">
        {DATE_BUL}<br />
			
    
      <mos:tmpl name="cond_arch_is_moder" type="condition" conditionvar="GJ_IS_MODER" varscope="list_archive">
        <mos:sub condition="yes">
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <small>
                <a href="<mos:sef>index.php?option=com_groupjive&task=editpost&groupid={GJ_GROUP}&postid={ID}</mos:sef>"><mos:translate>GJ_EDIT</mos:translate></a> &nbsp;&nbsp;<a href="<mos:sef>index.php?option=com_groupjive&task=deletepost&groupid={GJ_GROUP}&postid={ID}</mos:sef>"><mos:translate>GJ_DELETE</mos:translate></a><br /><br />
              </small>
					  </td>
            <td>
      </mos:sub>
    </mos:tmpl>
      </td>
    </tr>
		</mos:tmpl>
	</table>
</mos:tmpl>
