<mos:tmpl name="showmenu">
  <table width="100%">
    <tr style="vertical-align:top;">
      <td>
        <p>
          <mos:translate>GJ_SIMPLE_DESCR</mos:translate>
        </p>
      </td>
      <td style="text-align:right;">
        <form action="<mos:sef>index.php?option=com_groupjive&task=search</mos:sef>" method="post">
          <input type="text" name="searchstring" value="<mos:translate>GJ_SEARCH_GROUP</mos:translate>" onfocus="this.value='';"/>
          <input type="submit" value="<mos:translate>GJ_SEARCH</mos:translate>" />
        </form>
        {CREATEGROUPSLINK}
      </td>
    </tr>
  </table>
</mos:tmpl>
