<!-- =================================
transfer = Transfer to *new* Owner
--------------------------------------
transfer.tmpl FORM is used to transfer ownership
of a group from Creator/CurrentOwner to a
new Owner. The target Owner must be a user
that is currently a member of the Group.
- - - - -
This FORM contains a single text-field
FR_NAME (to select new owner) and a "submit" button.
====================================== -->

<mos:tmpl name="transfer">
	<div id="transfer-tmpl-wrapper">
		<div id="transfer-form-container">
			<h4><mos:translate>GJ_TRANSFER_OWNER_HEADER</mos:translate></h4>
			
			<!-- this div displays the "loading data" activity during load data -->
			<div id="gjloadmarker" class="gjloadmarker">&nbsp;</div>
			
			<div>
				<form action=index.php?option=com_groupjive&task=transfer_owner method="POST">
					<div class="gj_form-text">
						<mos:translate>GJ_FR_NAME</mos:translate>
						<br />
						{AJAX_DIV}
						<input type="text" name="fr_name" id="fr_name" size="50" maxlength="255" class="inputbox" {AJAX_EVENT}/>
						<br />
						<br />
						<input type="hidden" name="group_id" value="{ID}" />
						<div class="submit-position">
							<input type="submit" value="<mos:translate>GJ_SUBMIT</mos:translate>" name="g" class="button" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- end transfer-form-container -->
	</div>
	<!-- end invite-tmpl-wrapper -->
</mos:tmpl>
