/* Text Colors - Dark */
.body-dark div.itemMainImageBlock .itemMainImageCaption, .body-dark span.itemImageCaption, .body-dark span.itemDateModified, .body-dark div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl, .body-dark div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail, .body-dark div.authorBlock span.authorUrl {color:#666;}
.body-dark div.itemMainImageBlock .itemMainImageCredits, .body-dark span.itemImageCredits, .body-dark div.itemIntroText {color:#999;}
.body-dark div.itemCommentsForm form textarea.inputbox, .body-dark div.itemCommentsForm form input.inputbox {color: #ccc;}

/* Background Colors - Dark */
.body-dark div.itemImageThumbBlock span.itemImage img, .body-dark div.itemMainImageBlock span.itemMainImage img, .body-dark div.itemImageMainBlock span.itemImage img, .body-dark div.yellowbox-bl, .body-dark div.itemAuthorBlock, .body-dark div.itemAuthorBlock img.itemAuthorAvatar, .body-dark div.itemNavigation, .body-dark div.itemComments, .body-dark div.itemListCategoryBlock, .body-dark div.itemListCategoryBlock a.itemListCategoryImage, .body-dark div.authorBlock, .body-dark div.authorBlock img.authorAvatar, .body-dark div.defCategoryWrapper div.defCategoryBlock, .body-dark div.defCategoryWrapper div.defCategoryBlock a.defCategoryImage {background:#333;}
.body-dark div.itemCommentsForm form textarea.inputbox, .body-dark div.itemCommentsForm form input.inputbox {background: #444;}
.body-dark .k2ItemsList .itemAuthorBlock {background: #3f3f3f;}

/* Border Colors - Dark */
.body-dark div.itemImageThumbBlock span.itemImage img, .body-dark div.itemMainImageBlock span.itemMainImage img, .body-dark div.yellowbox-bl, .body-dark div.itemFullText img, .body-dark div.itemAuthorBlock img.itemAuthorAvatar, .body-dark div.itemNavigation, .body-dark div.itemCommentsForm form textarea.inputbox, .body-dark div.itemListCategoryBlock a.itemListCategoryImage, .body-dark div.itemImageMainBlock span.itemImage img, .body-dark div.authorBlock img.authorAvatar, .body-dark div.defCategoryWrapper div.defCategoryBlock, .body-dark div.defCategoryWrapper div.defCategoryBlock a.defCategoryImage {border: 1px solid #444;}
.body-dark div.itemTagsBlock, .body-dark div.itemExtraFields {border-top:1px solid #444;}
.body-dark div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl, .body-dark div.authorBlock span.authorUrl {border-right:1px solid #444;}
.body-dark div.itemView, .body-dark div.itemSocialLinksBlock, .body-dark div.itemAttachmentsBlock, .body-dark div.itemComments ul.itemCommentsList li, .body-dark div.defView {border-bottom:1px solid #444;}
.body-dark ul.itemToolbar li {border-left:1px solid #444;}
.body-dark .k2ItemsList .itemAuthorBlock, .body-dark ul.k2ItemsList li a.k2ItemsThumb, .body-dark div.itemCommentsForm form input.inputbox {border: 1px solid #555;}
.body-dark .itemRating, .body-dark .itemRating a:hover, .body-dark .itemRating .itemCurrentRating {background: url(../images/system/star2.gif) left -1000px repeat-x;}

/* Text Colors - Light */
.body-light div.itemIntroText, .body-light div.itemMainImageBlock .itemMainImageCaption, .body-light span.itemImageCaption, .body-light span.itemDateModified, .body-light div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl, .body-light div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail, .body-light div.authorBlock span.authorUrl {color:#666;}
.body-light div.itemMainImageBlock .itemMainImageCredits, .body-light span.itemImageCredits {color:#999;}
.body-light div.itemCommentsForm form textarea.inputbox, .body-light div.itemCommentsForm form input.inputbox {color: #333;}

/* Background Colors - Light */
.body-light div.itemMainImageBlock span.itemMainImage img, .body-light div.itemImageMainBlock span.itemImage img, .body-light div.yellowbox-bl, .body-light div.itemAuthorBlock, .body-light div.itemAuthorBlock img.itemAuthorAvatar, .body-light div.itemNavigation, .body-light div.itemComments, .body-light div.itemListCategoryBlock, .body-light div.itemListCategoryBlock a.itemListCategoryImage, .body-light div.authorBlock, .body-light div.authorBlock img.authorAvatar, .body-light div.defCategoryWrapper div.defCategoryBlock, .body-light div.defCategoryWrapper div.defCategoryBlock a.defCategoryImage {background:#fff;}
.body-light div.itemCommentsForm form textarea.inputbox, .body-light div.itemCommentsForm form input.inputbox {background: #ddd;}

/* Border Colors - Light */
.body-light div.itemMainImageBlock span.itemMainImage img, .body-light div.yellowbox-bl, .body-light div.itemFullText img, .body-light div.itemAuthorBlock img.itemAuthorAvatar, .body-light div.itemNavigation, .body-light div.itemCommentsForm form textarea.inputbox, .body-light div.itemListCategoryBlock a.itemListCategoryImage, .body-light div.itemImageMainBlock span.itemImage img, .body-light div.authorBlock img.authorAvatar, .body-light div.defCategoryWrapper div.defCategoryBlock, .body-light div.defCategoryWrapper div.defCategoryBlock a.defCategoryImage {border: 1px solid #ddd;}
.body-light div.itemTagsBlock, .body-light div.itemExtraFields {border-top:1px solid #ddd;}
.body-light div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl, .body-light div.authorBlock span.authorUrl {border-right:1px solid #ddd;}
.body-light div.itemView, .body-light div.itemSocialLinksBlock, .body-light div.itemAttachmentsBlock, .body-light div.itemComments ul.itemCommentsList li, .body-light div.defView {border-bottom:1px solid #ddd;}
.body-light ul.itemToolbar li {border-left:1px solid #ddd;}
.body-light div.itemCommentsForm form input.inputbox {border: 1px solid #ccc;}
.body-light .itemRating, .body-light .itemRating a:hover, .body-light .itemRating .itemCurrentRating {background: url(../images/system/star.gif) left -1000px repeat-x;}

/* Master Layout */
#k2Container {padding:0 0 24px 0;}
#k2Container h1.componentheading {line-height:120%;}
body.contentpane #k2Container {padding:16px;}

/* Common */
a:active,
a:focus {outline:0;}
img {border:none;}
.clr {clear:both;height:0;line-height:0;display:block;float:none;}
.recaptchatable .recaptcha_image_cell, #recaptcha_table {background-color:#fff !important;border-color: #ccc !important;}
#recaptcha_response_field {border-color: #ccc !important; background-color:#fff !important;}
span.k2EditLink {display:block;padding:4px 0;}
span.k2EditLink a {font-size:14px;}

/* CSS added with Javascript */
.smallerFontSize {font-size:100%;line-height:120%;}
.largerFontSize {font-size:150%;line-height:140%;}

/* Item View */
div.itemView {padding:8px 0 24px 0;margin:0 0 24px 0;}
div.itemHeader span.itemDateCreated {font-size:11px;}
.body-light div.itemHeader span.itemDateCreated {color:#999;}
.body-dark div.itemHeader span.itemDateCreated {color:#666;}
div.itemHeader h1.itemTitle {font-size:36px;font-weight:normal;line-height:110%;padding:10px 0 24px 0;margin:0;}
div.itemHeader h1.itemTitle span sup {font-size:12px;text-decoration:none;}
div.itemTools {padding:0;margin:0;}
div.yellowbox-tl {margin:5px;}
span.itemAuthor {float:left;display:block;width:18%;padding:0;margin:0;}
ul.itemToolbar {float:right;width:81%;text-align:right;list-style:none;padding:0;margin:0;position:relative;}
ul.itemToolbar li {display:inline;list-style:none;padding:0 0 0 8px;margin:0 0 0 8px;text-align:center;}
ul.itemToolbar > li:first-child {border:none;}
ul.itemToolbar li a img {vertical-align:middle;}
ul.itemToolbar li a#fontDecrease, ul.itemToolbar li a#fontIncrease {margin:0 0 0 4px;}
ul.itemToolbar li a#fontDecrease span, ul.itemToolbar li a#fontIncrease span {display:none;}
ul.itemToolbar li .itemTextResizerTitle {position: relative; margin-right: 30px;}
ul.itemToolbar li .itemTextResizerButtons {position: relative;}
ul.itemToolbar li a#fontDecrease img {position: absolute; right: 0px;}
ul.itemToolbar li a#fontIncrease img {position: absolute; right: 20px;}
.body-dark .k2FontDecreaseButton {background: url(../images/system/font_decrease2.gif) no-repeat; width: 11px; height: 12px;}
.body-dark .k2FontIncreaseButton {background: url(../images/system/font_increase2.gif) no-repeat; width: 11px; height: 11px;}
.body-light .k2FontDecreaseButton {background: url(../images/system/font_decrease.gif) no-repeat; width: 13px; height: 13px;}
.body-light .k2FontIncreaseButton {background: url(../images/system/font_increase.gif) no-repeat; width: 13px; height: 13px;}
.body-dark .k2FontDecreaseButton, .body-dark .k2FontIncreaseButton {margin-top: 3px;}
div.itemBody {padding:8px 0;margin:0;}
div.itemImageBlock {padding:8px;margin:0 0 16px 0;}
span.itemImage {display:block;text-align:center;margin:0 0 8px 0;}
span.itemImage img {border:1px solid #ccc;padding:8px;}
span.itemImageCaption {float:left;display:block;font-size:11px;}
span.itemImageCredits {float:right;display:block;font-style:italic;font-size:11px;}
div.itemFullText h3 {margin:0;padding:16px 0 4px 0;}
div.itemFullText img {padding:2px;margin:4px;}
div.itemExtraFields {margin:16px 0 0 0;padding:8px 0 0 0;}
div.itemExtraFields h3 {margin:0;padding:0 0 8px 0;line-height:normal !important;}
div.itemExtraFields label {font-weight:bold;margin:0 4px 0 0;display:block;float:left;width:20%;}
div.itemExtraFields span {display:block;float:left;width:70%;}
div.itemExtraFields br {clear:both;display:block;}	
span.itemDateModified {display:block;text-align:right;padding:4px;margin:5px 0 4px;}
div.itemAuthorBlock {padding:8px;}
div.itemAuthorBlock img.itemAuthorAvatar {float:left;display:block;padding:4px;margin:0 8px 0 0;}
div.itemAuthorBlock div.itemAuthorDetails {margin:0;padding:4px 0 0 0;}
div.itemAuthorBlock div.itemAuthorDetails h3.authorName {margin:0 0 4px 0;padding:0;}
div.itemAuthorBlock div.itemAuthorDetails h3.authorName a {font-size:16px;}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl {font-weight:bold;padding:0 8px 0 0;margin:0 8px 0 0;}
h3.itemAuthorName {margin: 0;}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail {font-weight:bold;}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl a,
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail a {font-weight:normal;}
div.itemRelated, div.itemAuthorLatest{margin-bottom:16px; padding:8px 0 0 0;float: left; width: 48%;}
div.itemLinks {margin:0 0 12px 0;padding:0;}
div.itemCategory {padding:4px;}
div.itemCategory span {font-weight:bold;color:#555;padding:0 4px 0 0;}
div.itemTagsBlock {padding:4px;margin-top:5px;}
div.itemTagsBlock span {font-weight:bold;color:#555;padding:0 4px 0 0;}
div.itemTagsBlock ul.itemTags {list-style:none;padding:0;margin:0;display:inline;}
div.itemTagsBlock ul.itemTags li {display:inline;list-style:none;padding:0 4px;margin:0;text-align:center;}
div.itemSocialLinksBlock {padding:4px;}
div.itemSocialLinksBlock span {font-weight:bold;color:#555;padding:0 4px 0 0;float:left;display:block;}
div.itemSocialLinksBlock ul.itemSocialLinks {list-style:none;padding:0;margin:0;float:left;}
div.itemSocialLinksBlock ul.itemSocialLinks li {float:left;list-style:none;padding:0 4px;margin:0;}
div.itemSocialLinksBlock ul.itemSocialLinks li a {float:left;display:block;width:16px;height:16px;background-position:0 0;background-repeat:no-repeat;}
div.itemSocialLinksBlock ul.itemSocialLinks li a span {display:none;}
	
a.delicious { background-image: url(../images/social/delicious.gif);}
a.digg { background-image: url(../images/social/digg.gif);}
a.facebook { background-image: url(../images/social/facebook.gif);}
a.google { background-image: url(../images/social/google.gif);}
a.myspace { background-image: url(../images/social/myspace.gif);}
a.reddit { background-image: url(../images/social/reddit.gif);}
a.stumble { background-image: url(../images/social/stumble.gif);}
a.technorati { background-image: url(../images/social/technorati.gif);}
a.yahoobuzz { background-image: url(../images/social/yahoobuzz.gif);}
a.windowslive { background-image: url(../images/social/windowslive.gif);}
a.twitter { background-image: url(../images/social/twitter.png);}
	
div.itemAttachmentsBlock {padding:4px;}
div.itemAttachmentsBlock span {font-weight:bold;color:#555;padding:0 4px 0 0;}
div.itemAttachmentsBlock ul.itemAttachments {list-style:none;padding:0;margin:0;display:inline;}
div.itemAttachmentsBlock ul.itemAttachments li {display:inline;list-style:none;padding:0 4px;margin:0;text-align:center;}
div.itemVideoBlock {margin:0 0 16px 0;padding:16px;background:#010101 url(../images/system/videoplayer-bg.gif) repeat-x bottom;}
div.itemVideoBlock h3.itemVideoTitle {color:#aaa;font-size:24px;}
div.itemVideoBlock span.itemVideo {display:block;}
div.itemVideoBlock span.itemVideo span.allvideos {padding:4px 0;}
div.itemVideoBlock span.itemVideo span.allvideos_player,
div.itemVideoBlock span.itemVideo span.allvideos_player object {width:100% !important;height:450px !important;margin:0 auto;}
div.itemVideoBlock span.itemVideoCaption {color:#eee;float:left;display:block;font-size:11px;font-weight:bold;width:60%;}
div.itemVideoBlock span.itemVideoCredits {color:#eee;float:right;display:block;font-style:italic;font-size:11px;width:35%;text-align:right;}
div.itemImageGallery {margin:0 0 16px 0;padding:0;}
div.itemImageGallery h3.itemImageGalleryTitle {font-size:24px;}
div.itemNavigation {padding:4px 8px;margin:0 0 24px 0;}
div.itemNavigation span.itemNavigationTitle {color:#999;}
div.itemNavigation a.itemPrevious {padding:0 12px;}
div.itemNavigation a.itemNext {padding:0 12px;}
div.itemComments {padding:10px;}
div.itemComments h4.itemCommentsCounter {font-size:24px;margin:0 0 8px 0;padding:0;}
div.itemComments ul.itemCommentsList {margin:0 0 16px;padding:0;list-style:none;}
div.itemComments ul.itemCommentsList li {padding:8px 0;;position:relative;}
div.itemComments ul.itemCommentsList li span.commentDate {padding:0 8px 0 0;margin:0 6px 0 0;font-weight:bold;font-size:14px;}
div.itemComments ul.itemCommentsList li span.commentAuthorName {font-weight:bold;font-size:14px;}
div.itemComments ul.itemCommentsList li p {padding:4px 0;clear:both;}
div.itemComments ul.itemCommentsList li span.commentAuthorEmail {display:none;}
div.itemComments ul.itemCommentsList li span.commentLink {display:block;position:absolute;right:0;text-align:right;font-size:11px;color:#999;top: 5px;}
div.itemComments ul.itemCommentsList li span.commentLink a {color:#999;text-decoration:underline;}
div.itemComments ul.itemCommentsList li span.commentLink a:hover {color:#555;text-decoration:underline;}
div.itemComments ul.itemCommentsList li img {padding-right: 5px;}
div.itemCommentsPagination {padding:4px;margin:0 0 24px 0;}
div.itemCommentsPagination span.pagination {display:block;float:right;clear:both;}
div.itemCommentsForm h4.itemCommentsFormTitle {font-size:24px;margin:0 0 8px 0;padding:0;}
div.itemCommentsForm form label.formComment {display:none;}
div.itemCommentsForm form label.formName {display:block;margin:12px 0 0 2px;}
div.itemCommentsForm form label.formEmail {display:block;margin:12px 0 0 2px;}
div.itemCommentsForm form label.formUrl {display:block;margin:12px 0 0 2px;}
div.itemCommentsForm form label.formRecaptcha {display:block;margin:12px 0 0 2px;}
div.itemCommentsForm form textarea.inputbox {display:block;width:350px;height:160px;margin:0;padding: 5px;}
div.itemCommentsForm form input.inputbox {display:block;width:350px;margin:0;padding: 5px;}
div.itemCommentsForm form input.button {margin:0;border:0;background: none;line-height: 16px;padding-top: 4px;}
div.itemCommentsForm form span#formLog {margin:0 0 0 20px;padding:0 0 0 20px;font-weight:bold;color:#CF1919;}
div.itemCommentsForm form .formLogLoading {background:url(../images/system/loading.gif) no-repeat left center;}

/* Rating */
.itemRatingForm {display: block;vertical-align: middle;line-height: 25px;}
.itemRating {width: 175px;float: left;}
.itemRatingLog {width:200px;height:25px;font-weight:bold;}
div.itemRatingForm .formLogLoading {background:url(../images/system/loading.gif) no-repeat center left; }
.body-light .itemRating, .body-dark .itemRating {position: relative;width: 125px;height: 25px;overflow: hidden;list-style: none;margin: 0;padding: 0;background-position: left top;}
.itemRating li {display: inline;background-image: none;padding: 0;}
.itemRating a, .itemRating .itemCurrentRating {position: absolute;top: 0;left: 0;text-indent: -1000px;height: 25px;line-height: 25px;outline: none;overflow: hidden;border: none;cursor: pointer;}
.body-light .itemRating a:hover, .body-dark .itemRating a:hover {background-position: left bottom;}
.body-light .itemRating a.one-star, .body-dark .itemRating a.one-star { width: 20%;z-index: 6;}
.body-light .itemRating a.two-stars, .body-dark .itemRating a.two-stars {width: 40%;z-index: 5;}
.body-light .itemRating a.three-stars, .body-dark .itemRating a.three-stars {width: 60%;z-index: 4;}
.body-light .itemRating a.four-stars, .body-dark .itemRating a.four-stars {width: 80%;z-index: 3;}
.body-light .itemRating a.five-stars, .body-dark .itemRating a.five-stars {width: 100%;z-index: 2;}
.body-light .itemRating .itemCurrentRating, .body-dark .itemRating .itemCurrentRating {z-index: 1;background-position: 0 center;margin: 0;padding: 0;}
.itemRatingLog {margin: 0 0 0 5px;padding: 0;float: left;}

/* Itemlist View */
div#itemListRssFeedBlock {float:right;}
div.itemListCategoryBlock {margin:0 8px 8px 0;padding:8px;}
div.itemListCategoryBlock a.itemListCategoryImage {float:left;display:block;margin:0 8px 0 0;}
div.itemListCategoryBlock a.itemListCategoryImage img {padding: 5px;}
div.itemListCategoryBlock h2.itemListCategoryTitle {font-size:24px;margin:0 0 4px 0;padding:0;line-height:normal;display:inline;}
div.itemListCategoryBlock h2.itemListCategoryTitle a {font-size:24px;}
div.itemListCategoryBlock h2.itemListCategoryTitle span.k2AddLink a {padding:0 0 0 8px;font-size:14px;}
div.itemListCategoryBlock p {padding:4px 0;}
div.itemListCategoryBlock div.itemListSubCategoriesBlock { margin-top:10px;}
div.itemListCategoryBlock div.itemListSubCategoriesBlock h2.itemListCategoryTitle {font-size:16px;}
div.itemContainerWrapper {float:left;}
div.itemReadMoreBlock {padding:12px 0 0;}
div.itemListPagination {padding:8px;text-align:center;}

/* Overrides to the Item View */
div.itemContainer {padding:15px;float:left;}
div.itemContainer div.itemHeader h1.itemTitle {font-size:20px;font-weight:normal;padding:10px 0 15px;margin:0;}
div.itemContainer span.itemAuthor {float:left;width:40%;}
div.itemContainer ul.itemToolbar {float:right;width:58%;}
div.itemImageThumbBlock {float:left;}
div.itemImageThumbBlock span.itemImage img {display:block;float:left;padding:5px;margin:4px 14px 0 0;}
div.itemImageMainBlock {padding:8px;margin:0 0 16px 0;}
div.itemMainImageBlock span.itemMainImage, div.itemImageMainBlock span.itemImage {display:block;text-align:center;margin:0 0 8px 0;}
div.itemMainImageBlock span.itemMainImage img, div.itemImageMainBlock span.itemImage img {padding:5px;}
div.itemImageMainBlock span.itemImageCaption {color:#666;float:none;display:block;font-size:11px;text-align:center;}
div.itemImageMainBlock span.itemImageCredits {color:#999;float:none;display:block;font-style:italic;font-size:11px;text-align:center;}
div.itemContainer div.itemIntroText {font-size:inherit;font-weight:normal;line-height: 135%;padding:4px 0 12px 0;}
div.itemMainImageBlock .itemMainImageCaption {display:block;text-align:center;font-size:11px;}
div.itemMainImageBlock .itemMainImageCredits {display:block;text-align:center;font-size:11px;font-style:italic;}

.itemAuthorLatest a {padding: 9px 20px; font-size: 120%; display: block;}
.body-dark .itemAuthorLatest a {background: url(../images/body/dark/list-arrows.png) 0 -555px no-repeat;}
.body-light .itemAuthorLatest a {background: url(../images/body/light/list-arrows.png) 0 -555px no-repeat;}

.itemRelated a {padding: 9px 20px; font-size: 120%; display: block;}
.body-dark .itemRelated a {background: url(../images/body/dark/list-arrows.png) 0 -555px no-repeat;}
.body-light .itemRelated a {background: url(../images/body/light/list-arrows.png) 0 -555px no-repeat;}

/* Author View */
div.authorView {padding:8px 0 24px 0;margin:0 0 24px 0;border-bottom:1px dotted #ccc;}
div#authorRssFeedBlock {float:right;}
div.authorBlock {margin:0 0 16px 0;padding:8px;clear:both;}
div.authorBlock img.authorAvatar {float:left;display:block;padding:4px;margin:0 8px 0 0;}
div.authorBlock h1.authorName {font-size:32px;font-weight:normal;padding:0;margin:0;line-height:normal;}
div.authorBlock h1.authorName span.k2AddLink a {padding:0 0 0 8px;font-size:14px;}
div.authorBlock p {padding:4px 0;}
div.authorBlock span.authorUrl {font-weight:bold;padding:0 8px 0 0;margin:0 8px 0 0;}
div.authorBlock span.authorEmail {font-weight:bold;color:#555;}	
div.authorItems {padding:0 0 16px 0;}
div.authorPagination {padding:8px;text-align:center;}
		
/* Default (Frontpage) View */
div.defView {padding:8px 0 24px 0;margin:0 0 24px 0;}
div#defRssFeedBlock {float:right;}
div.defCategoryWrapper {float:left;}
div.defCategoryWrapper div.defCategoryBlock {margin:0 8px 8px 0;padding:8px;}
div.defCategoryWrapper div.defCategoryBlock a.defCategoryImage {float:left;display:block;padding:4px;margin:0 8px 0 0;}
div.defCategoryWrapper div.defCategoryBlock h2.defCategoryTitle {margin:0 0 4px 0;padding:0;line-height:normal;display:inline;}
div.defCategoryWrapper div.defCategoryBlock h2.defCategoryTitle a {font-size:16px;}
div.defCategoryWrapper div.defCategoryBlock p {padding:4px 0;}

/* K2 Modules */

/* K2 Comments Module */
ul.k2CommentsList {list-style: none;margin: 0;padding: 0;}
ul.k2CommentsList li {margin-bottom: 15px;padding-bottom: 15px;}
.commenterAvatar {float: left;margin-right: 10px;margin-bottom: 10px;}
.commenterName {display: block;font-weight: bold;font-size: 120%;margin-bottom: 5px;}
.commentDate {display: block;font-size: 90%;font-style: italic;margin-top: 5px;}

/* K2 Content Module */
ul.k2ItemsList {list-style: none;margin: 0;padding: 0;}
ul.k2ItemsList li {margin-bottom: 15px;padding-bottom: 15px;}
ul.k2ItemsList li a.k2ItemsTitle {font-size: 18px;display: block;margin-bottom: 15px;}
ul.k2ItemsList li .k2ItemsAuthorAvatar img {width: 35px;height: 35px;display: block;float: left;margin-right: 10px;}
ul.k2ItemsList li span.k2ItemsDate {color:#999;display:block;font-size: 9px;}
ul.k2ItemsList .itemAuthorBlock {margin-bottom: 15px;}
ul.k2ItemsList li a.k2ItemsThumb {display:block;float:left;padding:2px;margin:0 4px 4px 0;}
ul.k2ItemsList li a.k2ItemsThumb img {border:none;width:100px;height:auto;}
ul.k2ItemsList li p.k2ItemsIntrotext {}
ul.k2ItemsList li p.k2ItemsTags {display:block;clear:both;}
ul.k2ItemsList li p.k2ItemsTags a {margin:0 4px;}
ul.k2ItemsList .readon-wrap1 {margin-top: 5px;}

/* Archives */
div.k2ArchiveListContainer ul.k2ArchiveList {list-style: none;margin: 0;padding: 0;}
.k2ArchiveListContainer li a {padding: 9px 20px; font-size: 120%; display: block;}
.body-dark .k2ArchiveListContainer li a {background: url(../images/body/dark/list-arrows.png) 0 -555px no-repeat;}
.body-light .k2ArchiveListContainer li a {background: url(../images/body/light/list-arrows.png) 0 -555px no-repeat;}

/* Breadcrumbs */
div.k2Breadcrumbs span.k2BreadcrumbsTitle {padding:0 4px 0 0;color:#999;}
div.k2Breadcrumbs span.k2BreadcrumbsSep {padding:0 4px;font-size:14px;}

/* Calendar */
div#k2Calendar {height:170px;}
div#k2Calendar.k2CalendarLoader {background:#fff url(../images/k2CalendarLoader.gif) no-repeat 50% 50%;}
table.calendar {margin:0 auto;background:#fff;border-collapse:collapse;}
table.calendar tr td {text-align:center;vertical-align:middle;padding:2px;border:1px solid #f4f4f4;background:#fff;}
table.calendar tr td.calendarNavMonthPrev {background:#f3f3f3;text-align:left;}
table.calendar tr td.calendarNavMonthPrev a {font-size:20px;text-decoration:none;}
table.calendar tr td.calendarNavMonthPrev a:hover {font-size:20px;text-decoration:none;}
table.calendar tr td.calendarCurrentMonth {background:#f3f3f3;}
table.calendar tr td.calendarNavMonthNext {background:#f3f3f3;text-align:right;}
table.calendar tr td.calendarNavMonthNext a {font-size:20px;text-decoration:none;}
table.calendar tr td.calendarNavMonthNext a:hover {font-size:20px;text-decoration:none;}
table.calendar tr td.calendarDayName {background:#e9e9e9;font-size:11px;width:14.2%;}
table.calendar tr td.calendarDateEmpty {background:#fbfbfb;}
table.calendar tr td.calendarDateLinked {padding:0;}
table.calendar tr td.calendarDateLinked a {display:block;padding:2px;text-decoration:none;}
table.calendar tr td.calendarDateLinked a:hover {display:block;background:#BFD9FF;padding:2px;text-decoration:none;}
table.calendar tr td.calendarToday {background:#135cae;color:#fff;}
table.calendar tr td.calendarTodayLinked {background:#135cae;color:#fff;padding:0;}
table.calendar tr td.calendarTodayLinked a {display:block;padding:2px;color:#fff;text-decoration:none;}
table.calendar tr td.calendarTodayLinked a:hover {display:block;background:#BFD9FF;padding:2px;text-decoration:none;}	

/* Category Tree Select Box */
form.k2SelectBox select {width:95%;}

/* Category List/Menu */
div.k2CategoryListContainer ul {list-style: none;margin: 0;padding: 0;}
#main-content ul.level0 li a {display: block;}
#main-content ul.level1 li a {display: block;}
.k2CategoryListContainer li a {padding: 9px 20px; font-size: 120%;}
.body-dark .k2CategoryListContainer li a {background: url(../images/body/dark/list-arrows.png) 0 -555px no-repeat;}
.body-light .k2CategoryListContainer li a {background: url(../images/body/light/list-arrows.png) 0 -555px no-repeat;}

/* Search Box */
div.k2SearchBox form input.inputbox {width: 95%;padding: 4px;border: 0;}

/* Tag Cloud */
div.k2TagCloud a {padding:4px;float:left;display:block;}
div.k2TagCloud a:hover {padding:4px;float:left;display:block;text-decoration:none;}
.body-light div.k2TagCloud a:hover {background:#eee;color:#333;}
.body-dark div.k2TagCloud a:hover {background:#333;color:#fff;}