/* This is the Main template logo, Edit this to match the width and height of your new logo image */
#logo {width: 300px;height: 39px;}

/* Template custom fonts */
@font-face {font-family: "Nexus Header";src: url(../fonts/Titillium-Regular.eot);}
@font-face {font-family: "Nexus Header";src: url(../fonts/Titillium-Bold.eot);font-weight: bold;}
@font-face {font-family: Nexus;src: url(../fonts/Aller-Regular.eot);}
@font-face {font-family: Nexus;src: url(../fonts/Aller-Italic.eot);font-style:italic;}
@font-face {font-family: Nexus;src: url(../fonts/Aller-Bold.eot);font-weight:bold;}
@font-face {font-family: Nexus;src: url(../fonts/Aller-BoldItalic.eot);font-weight:bold;font-style:italic;}
@font-face {font-family: Bebas;src: url(../fonts/Bebas.eot);}
@font-face {font-family: Continuum;src: url(../fonts/Continuum-Regular.eot);}
@font-face {font-family: Continuum;src: url(../fonts/Continuum-Bold.eot);font-weight:bold;}
@font-face {font-family: "Nexus Header";src:local("Titillium Regular"), url(../fonts/Titillium-Regular.otf) format("opentype");}
@font-face {font-family: "Nexus Header";src:local("Titillium Bold"), url(../fonts/Titillium-Bold.otf) format("opentype");font-weight: bold;}
@font-face {font-family: Nexus;src:local("Aller Regular"), url(../fonts/Aller-Regular.ttf) format("truetype");}
@font-face {font-family: Nexus;src:local("Aller Italic"), url(../fonts/Aller-Italic.ttf) format("truetype");font-style:italic;}
@font-face {font-family: Nexus;src:local("Aller Bold"), url(../fonts/Aller-Bold.ttf) format("truetype");font-weight:bold;}
@font-face {font-family: Nexus;src:local("Aller Bold Italic"), url(../fonts/Aller-BoldItalic.ttf) format("truetype");font-weight:bold;font-style:italic;}
@font-face {font-family: "Bebas";src:local("Bebas"), url(../fonts/Bebas.ttf) format("truetype");}
@font-face {font-family: "Continuum";src:local("Continuum"), url(../fonts/Continuum-Regular.ttf) format("truetype");}
@font-face {font-family: "Continuum";src:local("Continuum"), url(../fonts/Continuum-Bold.ttf) format("truetype");font-weight:bold;}

/* Font Family Settings */
#ff-nexus, a.nexus, #ff-nexus #horiz-menu li li span {font-family: Helvetica,Arial,sans-serif;}
#ff-nexus #horiz-menu li span, #ff-nexus .date-block, #ff-nexus h1, #ff-nexus h2, #ff-nexus h3, #ff-nexus h4, #ff-nexus h5, #ff-nexus .roktabs-links {font-family: Nexus,Helvetica,Arial,sans-serif;}
#ff-bebas, a.bebas, #ff-bebas #horiz-menu li li span, #ff-bebas h3.showtext {font-family: Helvetica,Arial,sans-serif;}
#ff-bebas .date-block, #ff-bebas h1, #ff-bebas h2, #ff-bebas h3, #ff-bebas h4, #ff-bebas h5 {font-family: Bebas,Helvetica,Arial,sans-serif;}
#ff-continuum, a.continuum, #ff-continuum #horiz-menu li li span, #ff-continuum h3.showtext {font-family: Helvetica,Arial,sans-serif;}
#ff-continuum .date-block, #ff-continuum h1, #ff-continuum h2, #ff-continuum h3, #ff-continuum h4, #ff-continuum h5 {font-family: Continuum,Helvetica,Arial,sans-serif;}
#ff-optima, a.optima {font-family: Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', sans-serif;}
#ff-geneva, a.geneva {font-family: Geneva, Tahoma, "Nimbus Sans L", sans-serif;}
#ff-helvetica, a.helvetica {font-family: Helvetica, Arial, FreeSans, sans-serif;}
#ff-lucida, a.lucida {font-family: "Lucida Grande",Helvetica,Verdana,sans-serif;}
#ff-georgia, a.georgia {font-family: Georgia, sans-serif;}
#ff-trebuchet, a.trebuchet {font-family: "Trebuchet MS", sans-serif;}
#ff-palatino, a.palatino {font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;}
input {font-family: Helvetica,Arial,sans-serif;}
#ff-georgia #horiz-menu .menutop li li .item, #ff-optima #horiz-menu .menutop li li .item {font-size: 12px;}

/* Core Formatting */
html {height: 100%;margin-bottom: 1px;}
body {margin: 0;line-height: 180%;}
form {margin: 0;padding: 0;}
body.f-small, body#ff-optima.f-small, body#ff-georgia.f-small {font-size: 11px;}
body, body.f-default {font-size: 14px;}
body#ff-optima, body#ff-optima.f-default {font-size: 13px;}
body#ff-georgia, body#ff-georgia.f-default {font-size: 13px;}
body.f-large, body#ff-optima.f-large, body#ff-georgia.f-large {font-size: 14px;}
p {margin-top: 10px;margin-bottom: 15px;}
h1, h2, h3, h4, h5 {padding-bottom: 5px;margin: 5px 0 10px 0;font-weight: normal;line-height: 135%;}
h1 {font-size: 250%;line-height: 100%;}
h2 {font-size: 200%;line-height: 100%;}
h3 {font-size: 145%;}
h4 {font-size: 130%;line-height: 100%; font-weight:bold;}
h5 {font-size: 120%;text-transform: uppercase;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
.clr {clear: both;font-size: 0;}
.rokradios, .rokchecks {padding: 2px 5px 5px 22px;line-height: 120%;}

/* Top Bar */
#top-bar .padding {padding: 8px 20px;overflow: hidden;}
#top-bar .moduletable {padding: 0;margin: 0;}
#topleft-mod {width: 40%;float: left;line-height: 180%;}
#topright-mod {width: 40%;float: right;line-height: 180%;}
#topwrap, #topwrap2 {height: 23px;}
#topwrap2 {padding: 0 10px;}
#accessibility {height: 16px;float: right;margin-left: 10px;}
.textsizer-desc {display: block;float: left;text-align: left;margin-right: 12px;font-size: 12px;font-weight: bold;line-height: 22px;}
#accessibility a {text-decoration: none; cursor: pointer;}
#accessibility #buttons {float: left;height:12px;overflow:hidden;margin-top: 5px;}
#accessibility .button {display: block;float: right;width: 11px;height: 12px;}
#accessibility a.small .button {margin-right: 8px;}

/* Header */
#header {padding: 15px 0;overflow: hidden;}
#header .padding {padding: 0 20px;}
#logo {float: left;}
.logo-module {float: left;overflow: hidden;padding:5px 15px 5px 5px;}
.banner-module {width: 300px;float: left;overflow: hidden;}
#header .moduletable {margin: 0;padding: 0;}
#header .moduletableright { float:right;font-size:16px; font-weight:bold;}
#header .moduletableleft {
    float:left;
    margin-left:45px;
    font-size:16px;
    font-weight:bold;
    background: url(../../../images/stories/key-32x32.png) no-repeat scroll 0 -5px ;}

/* Horizontal Menu */
#horiz-menu {display: block;}
#horiz-menu .padding {padding: 0 20px 10px 20px;}
#menu-spacer {height: 5px;}
#horizmenu-surround {position: relative;}
#horizmenu-surround2, #horizmenu-surround3, #horizmenu-surround4, #horizmenu-surround5 {position: absolute;width: 12px;height: 12px;}
#horizmenu-surround2 {top: 0;left: 0;}
#horizmenu-surround3 {top: 0;right: 0;}
#horizmenu-surround4 {bottom: 0;left: 0;}
#horizmenu-surround5 {bottom: 0;right: 0;}

/* Showcase */
#showcase-section {position: relative;}
#showmodules a {font-weight: bold;}
#showmodules .feature-desc {font-size: 17px;line-height: 135%;}

/* Feature */
#featuremodules {font-size: 110%;}
#tabs-bar {overflow: hidden;}
#featuremodules a {font-weight: bold;}

/* Main Layout */
.colmask {clear:both;overflow:hidden;position:relative;width:100%;}
.col1wrap {padding-bottom:2em;}
#maincol {position: relative;}
#maincol a, #maincol .separator, #maincol .item {font-weight: bold;}
.wrapper {position:relative;}
#leftcol a, #leftcol .separator, #leftcol .item {font-weight: bold;}
#rightcol a, #rightcol .separator, #rightcol .item {font-weight: bold;}
#leftcol-padding, #rightcol-padding {padding: 0 20px;}

/* s-c-s (Sidebar-Content-Sidebar) */
.s-c-s .colmid {float:left;position:relative;width:200%;}
.s-c-s .colright {float:left;left:50%;position:relative;width:100%;}
.s-c-s .col1wrap {float:right;position:relative;right:100%;width:50%;padding-bottom:1em;}
.s-c-s .col1pad {overflow:hidden;}
.s-c-s .col1 {overflow:hidden;width:100%;}
.s-c-s .col2 {float:left;position:relative;overflow:hidden;margin-left:-50%;}
.s-c-s .col3 {float:left;position:relative;overflow:hidden;left:0;}

/* s-c-x (Sidebar-Content) */
.s-c-x .colright {float:left;position:relative;width:200%;}
.s-c-x .col1wrap {float:right;padding-bottom:1em;position:relative;width:50%;}
.s-c-x .col1 {overflow:hidden;position:relative;right:100%;}
.s-c-x .col2 {float:left;position:relative;}

/* x-c-s (Content-Sidebar) */
.x-c-s .colright {float:left;position:relative;right:100%;width:200%;}
.x-c-s .col1wrap {float:left;left:50%;padding-bottom:1em;position:relative;width:50%;}
.x-c-s .col1 {overflow:hidden;}
.x-c-s .col3 {float:right;position:relative;}

/* Side Modules */
.side-mod {overflow: hidden;padding: 15px 0;}
.side-mod h3 {margin: 0 0 10px 0;}
#leftcol .moduletable, #rightcol .moduletable {padding: 0;}

/* RokAjaxSearch */
#searchmod {width: 250px;float: right;}
#searchmod h3 {font-size: 14px;margin: 0 0 10px 5px;padding: 0;}
#searchmod-surround {margin-right: 10px;height: 23px;}
#searchmod-surround .inputbox {background: none;border: 0;padding: 4px 0 5px 6px;font-size: 14px;height:15px;width: 100%;}
#searchmod-surround .search_options {display: block;margin-top: 8px;}
#roksearch_search_str {width: 150px;}
#roksearch_search_str.loading {background: transparent url(../images/spinner.gif) no-repeat scroll 97% 50% !important}
#roksearch_results {z-index: 10000;position: absolute;width: 400px;float: right;margin-top: -1px;text-align: left;visibility: hidden;}
#roksearch_results a#roksearch_link {float: right;padding-right: 5px;margin-top: 3px;display: block;height: 18px;width: 18px;}
#roksearch_results h3 {margin-top: 0;margin-bottom: 0;line-height: 110%;font-size: 120%;padding-bottom: 0;}
#roksearch_results span {display: block;line-height: 130%;font-size: 90%;}
#roksearch_results .container-wrapper {overflow: hidden;}
#roksearch_results .page {float: left;}
#roksearch_results .roksearch_header, #roksearch_results .roksearch_row_btm {padding: 10px;line-height: 100%;text-transform: uppercase;font-weight: normal;font-size: 100%;}
#roksearch_results .roksearch_row_btm {overflow: hidden;border-bottom: 0;}
#roksearch_results .roksearch_row_btm span {line-height: 140%;}
#roksearch_results span.small {display: inline-block;margin-top: 2px;margin-bottom: 7px;font-size: 10px;}
#roksearch_results span.highlight {display: inline;}
#roksearch_results a.clr {font-size: 100%;}
#roksearch_results a:hover {text-decoration: none;}
#roksearch_results .roksearch_odd {padding: 15px;position: relative;}
#roksearch_results .roksearch_even {padding: 15px;position: relative;}
#roksearch_results .roksearch_odd-hover h3, #roksearch_results .roksearch_even-hover h3 {padding-left: 12px;}
.results ol.list {padding-left: 30px;margin-top: 0;}
.results ol.list h4 {border: 0;margin-top: 0;margin-bottom: 0;}
.results ol.list li {padding: 10px 5px;margin-bottom: 5px;}
.results ol.list li p {margin-top: 0;}
#roksearch_results .container-arrows {height: 12px;width: 30px;float: left;margin-right: 5px;position: relative;}
#roksearch_results .arrow-left {width: 12px;height: 12px;position: absolute;top: 0;left: 0;cursor: pointer;}
#roksearch_results .arrow-left-disabled {width: 12px;height: 12px;position: absolute;top: 0;left: 0;}
#roksearch_results .arrow-right {width: 12px;height: 12px;position: absolute;top: 0;left: 18px;cursor: pointer;}
#roksearch_results .arrow-right-disabled {width: 12px;height: 12px;position: absolute;top: 0;left: 18px;}

#roksearch_results .viewall span {line-height: 100%;}
#roksearch_results a.viewall {float: left;margin-right: 5px;}
#roksearch_results .estimated_res, #roksearch_results .pagination_res {font-size: 9px;font-style: italic;text-transform: none;float:left;}
#roksearch_results .pagination_res {font-style: normal;float: right;font-size: 11px;margin-top: -1px;}
#roksearch_results .powered-by-google {text-transform: lowercase;font-style: italic;font-size: 9px;}
.roksearch_wrapper4.google-search .roksearch_odd, .roksearch_wrapper4.google-search .roksearch_even {height: 110px;}
form.search_result input.button {border: 0;background: none;cursor: pointer;padding-top: 3px;}
form.search_result fieldset {padding: 15px 0;}
.search-results-full .readon-wrap1 {margin-top: 0;}
form.search_result input#search_searchword.inputbox {padding: 1px 0 1px 5px;font-size: 14px;line-height: 22px;height:22px;width: 100%;margin-bottom: 10px;width: 300px;}
form.search_result fieldset.word {margin-top: 0;margin-bottom: 0;padding: 10px 0 25px 0;}
form.search_result fieldset.phrase {margin-top: 5px;margin-bottom: 0;padding: 10px 0 35px 0;}
form.search_result fieldset.word label, form.search_result legend {font-size: 120%;display: block;height: 26px;margin: 0;padding: 0;}
.search-results-full h3 {margin-top: 10px;padding: 0;margin-bottom: 0;font-size: 130%;}
form.search_result .display {float: left;margin-left: 20px;height: 20px;margin-top: 5px;}
#roksearch_results .google-search a#roksearch_link {margin-top: 5px;}

/* Main Page Structure */
#main-content {overflow: hidden;}
#maincontent-block {padding: 15px 20px;}
#inset-block-right {float: right;z-index: 1;position: relative;background-position: 0 0;background-repeat: repeat-y;}
#inset-block-left {float: left;z-index: 1;position: relative;background-position: 100% 0;background-repeat: repeat-y;}
#inset-block-left h3, #inset-block-right h3 {margin-top: 0;}
table.mainbody, table.blog {width: 100%;border: 0;padding: 0;}
.spacer .block {float: left;}

/* Main Body Items */
#breadcrumbs {margin: 0 0 10px 0;display: block;position:relative;overflow: hidden;height: 23px;padding: 15px;}
#breadcrumbs-home {width: 20px;height: 23px;display: block;float: left;}
#breadcrumbs h3 {display: none;}
#breadcrumbs .spinner {float:right;background:url(../images/spinner.gif) center center no-repeat;width: 16px;height: 16px;right: 10px;top: 10px;position: absolute;}
span.breadcrumbs {display: block;font-size: 110%;font-weight: bold;overflow: hidden;}
span.breadcrumbs img {width: 12px;height: 23px;float: left;}
span.breadcrumbs a, span.no-link {padding: 0 8px;float: left;display: block;height: 23px;line-height: 20px;}
span.breadcrumbs span.no-link {font-weight: normal;}
span.breadcrumbs a:hover {text-decoration: none;}
.contentheading {font-size: 200%;line-height: 140%;margin: 0 0 15px 0;padding: 0;}
#maincol .contentheading a {font-weight: normal;}
p.buttonheading {float: right;margin: 0 0 15px 15px;}
p.buttonheading img {margin-right: 3px;}
.article-info-surround {padding: 0;margin: 0;overflow: hidden;}
.article-info-surround2 {padding: 0 0 0 55px;min-height: 35px;}
p.articleinfo, .iteminfo {margin: 0;font-size: 13px;line-height: 140%;}
.iteminfo {display: block;float: left;}
p.pageinfo {padding: 2px 5px;margin-top: 0;display: block;}
.article-ratings {padding: 2px 5px;margin-top: 25px;}
span.modifydate, span.createdby, span.createdate {display: block;}
p.counter {text-indent: 5px;}
div.pagination {height: 22px;line-height: 22px;margin-top: 10px;margin-bottom: 15px;}
div.pagination div.tab {float: left;margin-right: 6px;}
div.pagination div.tab2 {padding: 0 8px;}
div.pagination div.page-block {padding: 0 4px;float: left;margin-right: 6px;}
.cols1 {display: block;float: none;margin: 0;}
.cols2 {width: 46%;}
.cols3 {width: 30%;}
.column1, .column2 {margin: 0 5px 0 0;position: relative;}
.column2, .column1 {float: left;margin: 0;}
.column2 {float: right;margin: 0;width: 49%;}
.article_row {margin: 0 0 25px 0;padding: 0;overflow: hidden;}
.blog .leading {margin-bottom: 25px;}
.blog_more {padding-top: 15px;}
#page {padding-bottom: 15px;}
.componentheading {margin: 0 0 15px 0;font-size: 180%;line-height: 130%;padding: 0;}
#main-content .date1 {font-size: 210%;line-height: 40px;display: block;float: left;margin-right: 8px;}
#main-content .date2 {font-size: 110%;float: left;line-height: 40px;margin-left: 5px;}
#top-bar .date-block {line-height: 20px;}
#top-bar .date1 {font-size: 18px;display: block;float: left;margin-right: 5px;font-weight: bold;}
#top-bar .date2, #top-bar .date3, #top-bar .date4 {font-size: 14px;float: left;margin-left: 5px;}
.date-div {padding-right: 8px;}
.article-info-right {float: right;}
.article-info-left {overflow: hidden;}
.createdby {padding-top: 10px;font-weight: bold;margin-bottom: 5px;text-align: right;}

/* Main Body Modules */
.moduletable h3 {margin-top: 0;font-size: 160%;}
#inset-block-right .mainblock-module, #inset-block-left .mainblock-module {padding-bottom: 10px;}
#showmodules, #featuremodules, #mainmodules, #mainmodules2, #mainmodules3, #mainmodules4, #mainmodules5 {overflow: hidden;}
#mainmodules4 a {font-weight: bold;}
#mainmodules5 a {font-weight: bold;}
.spacer.w99 .block {width: 99.8%;}
.spacer.w49 .block {width: 49.8%;}
.spacer.w33 .block {width: 33.3%;}
.moduletable {padding: 15px 20px;margin-bottom: 15px;}
#bottom-main {position: relative;}
.hilite1 .module-surround, .hilite2 .module-surround, .leading .module-surround {position: relative;padding: 15px 20px;}
.hilite1 .module-surround2, .hilite1 .module-surround3, .hilite1 .module-surround4, .hilite1 .module-surround5, .hilite2 .module-surround2, .hilite2 .module-surround3, .hilite2 .module-surround4, .hilite2 .module-surround5, .leading .module-surround2, .leading .module-surround3, .leading .module-surround4, .leading .module-surround5 {position: absolute;height: 12px;width: 12px;}
.hilite1 .module-surround2, .hilite2 .module-surround2, .leading .module-surround2 {top: 0;left: 0;}
.hilite1 .module-surround3, .hilite2 .module-surround3, .leading .module-surround3 {top: 0;right: 0;}
.hilite1 .module-surround4, .hilite2 .module-surround4, .leading .module-surround4 {bottom: 0;left: 0;}
.hilite1 .module-surround5, .hilite2 .module-surround5, .leading .module-surround5 {bottom: 0;right: 0;}

/* Extra Joomla Elements */
span.small, .modifydate {font-size: 90%;}
.sectiontableheader {font-weight: bold;padding: 3px;line-height: 25px;text-align: left;}
.sectiontablefooter {padding-bottom: 8px;}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {text-align: left;padding: 4px 5px 4px 5px;vertical-align: middle;}
tr.sectiontableentry0 td, td.sectiontableentry0, tr.sectiontableentry1 td, td.sectiontableentry1, tr.sectiontableentry2 td, td.sectiontableentry2 {height: 30px;}
.contentpane, .contentpaneopen {width: 100%;}
.moduletable fieldset {border: 0;}
.moduletable h4 {margin-top: 0;}
table.contenttoc {float: right;margin-left: 25px;}
.weblinks .contentdescription {overflow: hidden;margin-bottom: 15px;padding: 15px 0;}
.weblinks img {margin-right: 12px;margin-left: 0;}
.contact_email input.button {border: 0;background: none;}
.contact_email .readon-wrap1 {margin-top: 0;}
.contact-name {font-weight: bold;font-size: 140%;display: block;padding: 15px 0 2px 0;}
.contact-position {display: block;padding-bottom: 15px;}
.intro-article-content .article_separator { display: none; }
.contact .icon {float: left; width: 40px;}
.contact .misc, .contact .webpage, .contact .mobile, .contact .email, .contact .telephone, .contact .fax, .contact .country, .contact .state, .contact .postcode, .contact .suburb, .contact .street-address {overflow: hidden;}
.contact .other .surround {margin-top: 5px;}
.contact .vcard {margin-top: 15px;}
input#contact_name.inputbox, input#contact_email.inputbox, input#contact_subject.inputbox {padding: 1px 0 1px 5px;font-size: 14px;line-height: 22px;height:22px;width: 100%;margin-bottom: 10px;width: 300px;}
textarea#contact_text.inputbox {padding: 5px;margin-bottom: 10px;}
#main-content .inputbox.invalid {border: 1px solid #cc0000;}

/* Side Menus */
#main-body ul.menu {margin: 0;padding: 0;}
#main-body ul.menu li {list-style: none;margin: 0;padding: 0 5px;float: none;}
#main-body ul.menu li li a:hover, #main-body ul.menu li li .separator:hover, #main-body ul.menu li li .item:hover {background: none;}
#main-body ul.menu a:hover, #main-body ul.menu .separator:hover, #main-body ul.menu .item:hover {text-decoration: none;}
#main-body ul.menu span {display: block;}
#main-body ul.menu ul li a, #main-body ul.menu ul li .separator, #main-body ul.menu ul li .item {padding-left: 20px;}
#main-body ul.menu ul li span.separator {padding-left: 20px;}
#main-body ul.menu ul li ul li a, #main-body ul.menu ul li ul li .separator, #main-body ul.menu ul li ul li .item {padding-left: 36px;}
#main-body ul.menu ul li ul li ul li a, #main-body ul.menu ul li ul li ul li .separator, #main-body ul.menu ul li ul li ul li .item {padding-left: 56px;}
#main-body ul.menu li.active.parent li .item span, #main-body ul.menu li.parent li .item span, #main-body ul.menu li.active.parent li a span, #main-body ul.menu li.parent li a span, #main-body ul.menu li.active.parent li .separator span, #main-body ul.menu li.parent li .separator span {padding-left: 18px;font-size: 110%;line-height: 110%;}
#main-body ul.menu a, #main-body ul.menu .separator, #main-body ul.menu .item {display: block;text-indent: 0;overflow: hidden;font-size: 120%;float: none;}
#main-body ul.menu a, #main-body ul.menu .separator, #main-body ul.menu .item {padding: 9px 20px 9px 20px;}
#main-body ul.menu li.active a, #main-body ul.menu li.active li.active a, #main-body ul.menu li.active li.active li.active a, #main-body ul.menu li.active .separator, #main-body ul.menu li.active li.active .separator, #main-body ul.menu li.active .item, #main-body ul.menu li.active li.active .item, #main-body ul.menu li.active li.active li.active .item {font-weight: bold;}
#main-body ul.menu li.active li a, #main-body ul.menu li.active li.active li a, #main-body ul.menu li.active li .separator, #main-body ul.menu li.active li.active li .separator, #main-body ul.menu li.active li.active li.active .separator, #main-body ul.menu li.active li .item, #main-body ul.menu li.active li.active li .item {font-weight: normal;}
#main-body ul.menu ul ul {padding: 0; margin: 0;}
#main-body ul.menu li li {padding: 0;margin: 0;font-size: 10px;}
#main-body ul.menu li.active.parent ul {margin: 0;padding: 10px 0 15px 0;}
#main-body ul.menu li.active.parent ul li.active.parent ul {padding: 5px 0;}
#main-body ul.menu li li a, #main-body ul.menu li li .separator, #main-body ul.menu li li .separator:hover, #main-body ul.menu li li .item {background: none;}
#main-body ul.menu li.active li.active {border: 0;}
#main-body ul.menu li.active {padding: 0;}

/* Extra Content Styles */
a.nounder {text-decoration: none;border: 0;cursor: pointer;}
a.nounder:hover {text-decoration: none;}
fieldset {margin:10px 0 20px 0;border:0;}
fieldset.input, a img, body .pollstableborder {border: 0;}
table.pollstableborder {width: 100%;}
.pollstableborder th {font-size: 130%;text-align: left;}
.pollstableborder td.td_1, .pollstableborder td.td_2 {width:20%;}
.pollstableborder td.td_3 {width: 60%;}
.pollstableborder td div {border-width: 5px;border-style:solid; background: transparent;}
legend {font-size:120%;}
form.poll fieldset {margin: 0 0 10px 0;padding: 0;}
.side-mod form.poll {margin: 0 -10px;}
.side-mod h4.poll-title {margin: 0;padding: 0;font-size: 120%;}
.side-mod .poll-line {padding: 9px 15px 11px 15px;font-size: 110%;}
.side-mod .poll-buttons {padding: 0 15px 0 15px;overflow: hidden;width: 130px;margin: 0 auto;}
form.poll input.button {background: none;cursor:pointer;border: none;text-align: center;line-height: 24px;height: 24px;margin-bottom: 5px;float: left;padding: 0;}
.vote-button-wrap .readon-wrap1 {margin-left: 15px;}
form.poll a.results:hover {text-decoration: none;}
img.content-left {float: left;margin-right: 10px;padding: 5px;}
img.content-right {float: right;margin-left: 10px;padding: 5px;}
.back_button {margin-top: 20px;margin-bottom: 10px;}
.tool-tip {padding: 4px;z-index:5000;background:#fbf3ad;color:#333;border:2px solid #f8e639;font-size:90%;}
.bannergroup .clr {clear: none !important;}
.bannergroup .banneritem { margin-bottom: 10px; }
dl.poll dt {border-bottom:solid 1px #ccc;font-weight: bold;}
dl.poll dd {padding:6px 0;margin-left: 0;}
.polls_color_1 {background:#000;}
.polls_color_2 {background:#aaa;}
.polls_color_3 {background:#93246F;}
.polls_color_4 {background:#000;}
.polls_color_5 {background:#ccc;}
.polls_color_6 {background:#93246F;}
#main-content .poll {padding-top: 15px;}
.newsfeeds-default .article-info-surround {margin-top: 10px;}
ul.latestnews, ul.mostread, .blog_more ul, .block ul#mainlevel-nav, .featured-text-block ul {margin: 0;padding: 0;}
ul.latestnews li, ul.mostread li, .blog_more ul li, .block ul#mainlevel-nav li, .featured-text-block li {list-style: none;margin-bottom: 6px;padding-bottom: 6px;padding-left: 5px;}
ul.latestnews li a, ul.mostread li a, .blog_more ul li a, .block ul#mainlevel-nav li a, .featured-text-block ul li a {font-weight: bold;font-size: 110%;display: block;padding-left: 24px;}
.bannergroup_text .bannerheader {font-size: 120%;font-weight: bold;margin-bottom: 15px;}
.bannergroup_text .banneritem_text {margin-bottom: 15px;}
.bannergroup_text .banneritem_text a {font-weight: bold;}

/* Editor Form Overrides */
#main-content form.editor {padding:0;margin:0;}
#main-content form.editor {color:#333;}
#main-content form.editor input, #main-content form.editor textarea {border:1px solid #ccc;}
#main-content form.editor fieldset a {color: #00c;}
#main-content form.editor fieldset {padding:10px; border: 1px solid #ccc;}
#main-content form.editor legend {font-size:120%;margin:15px 0;padding:0 10px;font-weight:bold;}
#main-content form.editor label {display:block;width: 120px;float:left;}
#main-content form.editor div.radio label {display:inline;width:auto;float:none;}

/* Login Styles */
form.form-login p {margin: 0;}
form.form-login .inputbox, input#email, .register-page .inputbox {padding: 5px 0 1px 5px;font-size: 14px;line-height: 22px;height:17px;width: 300px;margin-bottom: 10px;display: block;}
.main-login-form form.form-login .inputbox {width: 97%;}
form.form-login .login-links {margin-bottom: 8px;margin-top: 8px;}
form.form-login .login-links a {padding-left: 15px;}
form.form-login input.button, form.log input.button {background: none;cursor:pointer;border: none;text-align: center;line-height: 24px;height: 24px;margin-bottom: 5px;float: left;padding: 0;}
form.form-login fieldset {padding: 0;}
form.log .readon-wrap1 {margin-top: 5px;}
input.button {font-size: 100%;cursor: pointer;padding: 3px 5px;}
form.form-login span.username-label, form.form-login span.password-label {display: block;text-transform: uppercase;margin-bottom: 1px;padding-left: 2px;}
.register-page input.button, form.josForm input.validate {background: none;border: 0;}
.register-page div.name, .register-page div.user, .register-page div.email, .register-page div.pass, .register-page div.verify_pass {text-align: left;}
form#josForm.form-validate.user, .edit-user-form {float: left;overflow: hidden;padding-bottom: 15px;}
.edit-user-form {padding-top: 15px;}
.register-page fieldset {margin-bottom: 15px;margin-top: 0;padding-bottom: 15px;}
div.user_name {margin-bottom: 10px;}
div.user_name span {font-weight: bold;font-size: 110%;}
.user-params {margin-bottom: 20px;}
.user-params td.paramlist_key {width: auto;}
.edit-user-button {margin: 0 auto;width: 80px;}
.remember-me {margin-top: 5px;margin-bottom: 5px;}
form.form-login .readon-wrap1 {margin-top: 5px;}
a#rokbox-close {height: 20px;width: 20px;}
form.josForm label.hasTip {display: block;float: left;height: 25px;line-height: 25px;margin-right: 5px}
#main-content .hilite2 .inputbox {background: #fff;color: #666;border: 0;}

/* Bottom Section */
#bottom {margin: 0;}
#top-button {width: 90px;height: 20px;text-align: center;line-height: 22px;font-weight: bold;font-size: 12px;margin: 0 auto;}
#top-button a:hover {text-decoration: none;}
.top-button-spacer {height: 15px;}
.copyright-block {margin: 15px 0;}
.copyright-block2 {padding: 15px 0 15px 15px;overflow: hidden;}
#copyright {margin: 0 auto;text-align: center;line-height: 200%;}
#rocket {width: 111px;height: 15px;display: block;margin: 0 auto;}
#debug-mod {padding: 15px;}
#bottom ul {margin: 0;padding-left: 10px;list-style: none;}
#bottom ul li a {padding-left: 10px;padding-bottom: 5px;display: block;}
#bottom ul li:hover a {text-decoration: none;}
#footer {position: relative;overflow: hidden;}
.footer-mod {padding: 15px 0;}
#footer a {font-weight: bold;}
#mainmodules3 a {font-weight: bold;}
#bottom .moduletable {padding: 15px;}

/* RokTabs */
.roktabs-wrapper {padding: 20px;position: relative;margin: 0px;}
#featuremodules .roktabs-wrapper {padding: 0 20px;}
.roktabs-wrapper .roktabs-container-inner {position:relative;overflow: hidden;}
.roktabs-wrapper .roktabs-container-wrapper {clear: both;position: relative;overflow:hidden;width:50000px;}
.roktabs-wrapper .roktabs-container-wrapper div {float: left;margin-right:15px;}
.roktabs-wrapper .roktabs-container-wrapper div.wrapper {padding: 5px 0 5px 0;width: auto;}
.roktabs-wrapper .roktabs-links {margin: 0;padding: 0;height: 42px;overflow: hidden;}
.roktabs-wrapper .active-arrows .roktabs-links {margin: 0 20px;padding: 0;height: 42px;}
.roktabs-wrapper .roktabs-links ul {text-align: left;list-style-type: none;overflow:hidden;margin: 0;height: 42px;}
.roktabs-wrapper .roktabs-links ul li {float: left;padding: 0;margin: 0 5px 0 0;text-decoration: none;position: relative;height: 42px;line-height: 42px;text-transform: lowercase;font-size: 110%;}
.tabs-bottom .roktabs-links ul li {line-height: 42px;}
.roktabs-wrapper .roktabs-links ul li span {padding: 0 11px;display: block;}
.roktabs-wrapper .roktabs-links ul {padding: 0;}
.roktabs-wrapper .roktabs-scroller {position: absolute;bottom: 0;right: 0;height: 50px;}
.roktabs-wrapper .arrow-next, .roktabs-wrapper .arrow-prev {line-height: 20px;text-align: center;cursor: pointer;z-index: 2;position: absolute;top: 14px;height:16px;width: 11px;}
.roktabs-wrapper .arrow-prev span, .roktabs-wrapper .arrow-next span {display: none;}
.tabs-hidden .roktabs-container-wrapper div.wrapper {margin-top: 10px;}
.clear {clear: both;}
.roktabs-links ul li.active {padding-left: 9px;}
.roktabs-links ul li.active span {padding-left: 2px;}

/* RSS Feeds */
ul.newsfeed {margin: 0;padding: 0;}
a.newsfeed-title {text-transform: uppercase;font-weight: bold;}
ul.newsfeed li {list-style: none;padding-left: 12px;margin-bottom: 12px;}
ul.newsfeed li a {font-weight: bold;font-size: 120%;}
ul.newsfeed .newsfeed-div {display: block;padding-bottom: 1px;}

/* Typography */
.readon-wrap1 {margin-top: 15px;position:relative;float:left;}
.readon-wrap1 span {display:block;height: 25px;line-height: 25px;}
a.readon {font-weight: bold;}
a.readon-main {font-size: 12px;cursor: pointer;font-weight: bold;}
a.readon-main:hover {text-decoration: none;}
.readon1-l {position:absolute;width: 9px;height: 25px;left:0;top:0;}
.readon1-m {margin-left: 9px;text-align: center;padding-left:2px;}
.readon1-r {margin-right: -9px;padding-right: 10px;}
.readon-wrap1 input.button {font-weight: bold;}

/** Demo Content **/

/* Tutorials */
pre {overflow: auto;}
.tutorial-block .written-listing {background: url(../images/write-list.png) no-repeat 0 1px;float: left;width: 24%;margin-top: 15px;overflow: hidden;}
.tutorial-block .written-listing .content {padding: 0 15px;}
.tutorial-block .written-listing .desc {font-size: 85%;}
.tutorial-block .categories {background: url(../images/write-list.png) no-repeat 10px 2px;float: left;width: 288px;margin-top: 12px;overflow: hidden;}
.tutorial-block .categories-content {padding: 0 15px 0 25px;}
.body-dark img.demo {border: 5px solid #444;}
.body-light img.demo {border: 5px solid #ddd;}
.ext-block {margin-bottom: 20px;overflow: hidden;}
.ext-block .ext-img {float: left; margin-right: 20px; margin-bottom: 50px;}
.ext-block .ext-divider {height: 10px; display: block;}

/* Footer Content */
.fpb-mini {float: right;width: 19%;}
.fpb-large {float: left;width: 36%;}
.fpb-large, .fpb-mini {line-height: 20px;}
.fpb-large .highlight-bold, .fpb-mini .highlight-bold {margin-bottom: 5px;display: block;}

/* Tabbed Content */
.roktabs-wrapper .roktabs-container-wrapper div .demo-tabs-l {float: left;width: 32%;margin-right: 0;}
.roktabs-wrapper .roktabs-container-wrapper div .demo-tabs-m {float: left;width: 32%;margin-left: 15px;margin-right: 0;}
.roktabs-wrapper .roktabs-container-wrapper div .demo-tabs-r {float: right;width: 32%;margin-right: 0;}
.roktabs-wrapper .roktabs-container-wrapper div .demo-tabs2-l {float: left;width: 47%;margin-right: 0;}
.roktabs-wrapper .roktabs-container-wrapper div .demo-tabs2-r {float: right;width: 47%;margin-right: 0;}
img.demo-tabs {float: left;width: 100px;height: 100px;margin-right: 10px;}
img.demo-tabs2 {float: left;width: 120px;height: 100px;margin-right: 15px;}

/* Frontpage Feature */
.showcase-dc .showmain {color: #fff;font-size: 48px;text-shadow:1px 1px 12px #111;margin-top: 0;}
.showcase-dc .showtext {margin-bottom: 0;padding-bottom: 0;text-shadow:1px 1px 10px #111;font-size: 19px;line-height: 135%;}
.show-light .showcase-dc .showtext {text-shadow:1px 1px 10px #ccc;}
.showcase-dc .showleft {float: left;width: 470px;}
.showcase-dc .showright-img {float: right;margin-top: -20px;}
.showleft .readon-wrap1 {position: absolute;left: 485px;top: 140px;}
.show-dark #showmodules h3.showtext span {color: inherit;}
.show-light #showmodules h3.showtext span {color: inherit;}
.featured-image {float: left;margin-right: 25px;}
.featured-botton {float: right;margin:5px 5px 5px 5px;}
.featured-text-block {width: 450px;font-size: 140%;line-height: 140%;}
.featured-text-right {width: 450px;font-size: 140%;line-height: 140%;}

/* Frontpage Main Content */
.body-dark img.demo-main {border: 8px solid #444;}
.body-light img.demo-main {border: 8px solid #ddd;}
.demo-main-surround {margin-top: 15px;margin-bottom: 25px;text-align: center;}
.demo-main-text {float: left;width: 65%;}
.demo-main-text h3 {margin-top: 0;}
.demo-main-list {float: right;width: 30%;}
ul.frontpage {padding-left: 15px;}
ul.frontpage li {list-style: none;padding-bottom: 3px;margin-bottom: 5px;padding-left: 25px;}
.body-dark ul.frontpage li {background: url(../images/body/dark/list-arrows.png) 0 1px no-repeat;}
.body-light ul.frontpage li {background: url(../images/body/light/list-arrows.png) 0 1px no-repeat;}
.body-light .side-mod .rokstories-layout2 {border: 5px solid #ddd;}
.body-dark .side-mod .rokstories-layout2 {border: 5px solid #333;}
