Dear user,

The following message needs your approval. You can approve it through the backend or simply use the link below to publish/unpublish/delete the comment. This link will expires in 7 days.

To Publish the comment:
%PUBLISH%

To Unpublish the comment:
%UNPUBLISH%

To Remove the comment:
%DELETE%


===========================================================================
Content Title: %CONTENTTITLE%
===========================================================================

Comment Title: %COMMENTTITLE%
Author: %NAME%
Email: %EMAIL%
Link to content: %LINK%

Comment:
%COMMENT%

===========================================================================


