Dear author,

This is a system notification to inform you that a user has recently submitted a comment on your article. You may view the details below,

===========================================================================
Article Title: %CONTENTTITLE%
===========================================================================

Comment Title: %COMMENTTITLE%

Comment:
%COMMENT%

===========================================================================

[Powered by Jom Comment]