<mos:tmpl name="showgroup">
	<div id="showgroup-tmpl-wrapper">
		<div id="showgroup-main-container">
		
			<div id="showgroup-header-wrap">

				<div class="grouplogo-wrapper">
					<div class="grouplogo">
						{GJ_GROUPLOGO}
					</div>
				</div>
			
				<div class="groupinfo-wrapper">		
					<div class="groupname">
						<h2>{GJ_GROUPNAME}</h2>
					</div>
					<div class="groupactions">
						{GJ_ACTIONS}
					</div>
					<div class="clearfloat"></div>
					<div class="groupinfo">
						{GJ_GROUPINFO}
					</div> 
				</div>
				<div class="clearfloat"></div>
				
			</div>

			<!-- end showgroup-header-wrap -->

			
			<div id="group_functions-container">
				<h3 class="componentheading">
					<mos:translate>GJ_GROUP_FUNCTIONS</mos:translate>
				</h3>
					{GJ_LINKS}
				</div>
				
				<div id="creator-container">
					<h3 class="componentheading">
						<mos:translate>GJ_CREATOR</mos:translate>
					</h3>
					<div class="creator-image-wrapper">
						<div class="creator-image">
							{GJ_CREATORIMAGE}
						</div>
						<a href="<mos:sef>index.php?option=com_comprofiler&task=userProfile&user={GJ_GROUPCREATORID}</mos:sef>">
							{GJ_GROUPCREATOR}
						</a>
						<mos:tmpl name="hidemaillink" type="condition" conditionvar="SHOWMAILLINK" varscope="showgroup">
					<mos:sub condition="1">
				<a href="<mos:sef>index.php?option=com_groupjive&task=mailowner&groupid={GJ_GROUPID}&Itemid={ITEMID}</mos:sef>">
					&nbsp;<img src="images/M_images/emailButton.png" border="0" align="top"/>
				</a>
					</mos:sub>
				</mos:tmpl>
					</div>
				</div>
				
				<div id="moder_functions-container">
					<h3 class="componentheading">
						<mos:translate>GJ_MODER_FUNCTION</mos:translate>
					</h3>
					{GJ_MODERATOR_FUNC}
				</div>
				<div class="clearfloat"></div>
				
				
			<!-- end showgroup-functions-wrap -->
			
		</div>
		<!-- end showgroup-main-container -->
		
	</div>
	<!-- end showgroup-tmpl-wrapper -->
</mos:tmpl>
