/* @group Style8 */

/* This is the Main Logo */
#logo {background: url(../images/style8/logo/logo.png) 0 0 no-repeat;}

/* Main Background */

html, #body {background: #414141;}
#page-bg {background: #414141 url(../images/style8/color-bg.jpg) 50% 0 no-repeat;}
#main-header {background: url(../images/style8/header-trans-bg.png) 0 100% repeat-x;}
#main-body-bg {background: #fff;}

/* Top Header Bar */

#top-bar {background: url(../images/main/top-bar-bg.png) 0 0 repeat-x;}
#top-bar .links-block {color: #fff;}
#top-bar .date-block {color: #fff;}
#top-bar .right-module-block {color: #fff;}
#top-bar ul.menu a, #top-bar ul.menu .separator {color: #fff;}
#top-bar ul.menu a:hover {color: #bbb;}

/* Main Header */

#top-divider {background: url(../images/main/top-divider.png) 0 0 repeat-x;}
#logo-bg-area {/*background: url(../images/style8/color-bg-element.png) 0 0 no-repeat;*/}

/* Top Main Menu */

#horiz-menu {background: #ADADAD url(../images/style8/horiz-menu-bar.jpg) 100% 0 no-repeat;}
#horiz-menu a, #horiz-menu .separator {color: #fff;}
#horiz-menu li a, #horiz-menu li .separator {background: url(../images/style8/horiz-menu-bg.png) 0 0 repeat-x;}
#horiz-menu li.active a, #horiz-menu li.active .separator, #horiz-menu li:hover a, #horiz-menu li:hover .separator, #horiz-menu li.sfHover a, #horiz-menu li.sfHover .separator {background: url(../images/style8/horiz-menu-bgactive.png) 0 0 repeat-x;}
#horiz-menu li.active a span, #horiz-menu li.active .separator span {background: url(../images/style8/horiz-menu-active.png) 50% 100% no-repeat;}

/* Main Body Items */

#maincontent-block a {color: #006699;}
h1.componentheading span.bg {background: url(../images/style8/component-head.png) 50% 100% no-repeat;color: #fff;}
.frontpage-item a, .blog-item a, .pagination a {color: #006699;}
.contentheading, #maincontent-block a.contentpagetitle, #main-body a.readon {color: #666;}
.medium .contentheading, #maincontent-block .medium a.contentpagetitle, #main-body .medium a.readon {color: #444;}
.dark .contentheading, #maincontent-block .dark a.contentpagetitle, #main-body .dark a.readon {color: #fff;}
#main-body .color a.readon {color: #fff;}
#main-body .promo a.readon {color: #fff;}
#main-body .color a.readon:hover {color: #A3DBF2;}
.color span.readon-full {background: #005982 url(../images/style8/main-color-readon-bg.png) 0 0 repeat-x;border: 1px solid #00486D;}
.main-article h2.contentheading {color: #006699;}

/* Side Column Modules */

.side-mod a, .medium .side-mod a {color: #006699;}
.light .side-mod a {color: #006699;}
.color .side-mod h3.module-title span.bg {background: url(../images/style8/side-color-h3.png) 50% 100% repeat-x;color: #fff;}
.color .side-mod {background: #00587F url(../images/style8/side-color-mod-bg.png) 0 0 repeat-x;border-left: 1px solid #00486D;border-right: 1px solid #00486D;border-top: 1px solid #00486D;}
.color .side-mod a {color: #A3DBF2;}
.color .side-mod2 {background: url(../images/style8/side-color-mod-h3-bg.png) 0 0 repeat-x;color: #fff;}
.color .side-mod-bottom {background: url(../images/style8/side-color-bm.png) 0 0 repeat-x;}
.color .side-mod-bottom2 {background: url(../images/style8/side-color-br.png) 100% 100% no-repeat;}
.color .side-mod-bottom3 {background: url(../images/style8/side-color-bl.png) 0 100% no-repeat;}
.color .side-mod .close-handle {background: url(../images/style8/side-color-close-handle.png) 50% 50% no-repeat;}
.color .side-mod .open-handle {background: url(../images/style8/side-color-open-handle.png) 50% 50% no-repeat;}
.color .side-mod .tools-handle {background: url(../images/style8/side-color-tools-handle.png) 50% 50% no-repeat;}
.promo .side-mod h3.module-title span.bg {background: url(../images/style8/modstyle1-h3.png) 50% 100% repeat-x;color: #fff;}

/* Side Menus */

#main-body .color ul.menu li, .color .side-mod ul li {background: #005982 url(../images/style8/main-color-readon-bg.png) 0 0 repeat-x;border: 1px solid #00486D;}
#main-body .light ul.menu li a:hover, #main-body .light ul.menu li .separator:hover, .light .side-mod ul li a:hover, .light .side-mod ul li .separator:hover {background: url(../images/style8/light-arrow-hover.png) 8px 4px no-repeat;color: #006699;}
#main-body ul.menu li a:hover, #main-body ul.menu li .separator:hover {background: url(../images/style8/med-arrow-hover.png) 8px 4px no-repeat;color: #006699;}
#main-body .color ul.menu li a, #main-body .color ul.menu li .separator, .color .side-mod ul li a, .color .side-mod ul li .separator {background: url(../images/style8/color-arrow.png) 8px 4px no-repeat;color: #A3DBF2;}
#main-body .color ul.menu li a:hover, #main-body .color ul.menu li .separator:hover, .color .side-mod ul li a:hover, .color .side-mod ul li .separator:hover {background: url(../images/style8/color-arrow-hover.png) 8px 4px no-repeat;color: #fff;}

/* Main Body Modules */

.mainblock-mod a, .light .mainblock-mod a, .mainblock-mod .separator, .light .mainblock-mod .separator {color: #006699;}
.mainblock-mod ul li a:hover, .side-mod ul li a:hover, .mainblock-mod ul li .separator:hover, .side-mod ul li .separator:hover, #main-content .blog_more ul li a:hover {color: #006699;background: url(../images/style8/mainblock-arrow-hover.png) 8px 4px no-repeat;}
.medium .mainblock-mod a, .medium .mainblock-mod .separator {color: #006699;}
.medium .mainblock-mod ul li a:hover, .medium .side-mod ul li a:hover, .medium .mainblock-mod ul li .separator:hover, .medium .side-mod ul li .separator:hover {color: #006699;background: url(../images/style8/mainblock-arrow-hover.png) 8px 4px no-repeat;}
.dark .mainblock-mod a, .dark .mainblock-mod .separator {color: #fff;}
.dark .mainblock-mod h3.module-title span.bg {background: #006699;border: 1px solid #00486D;color: #fff;}

/* Login Style */

.color .inputbox {border: 1px solid #00486D;}
.color input.button {background: #005982 url(../images/style8/main-color-readon-bg.png) 0 0 repeat-x;border: 1px solid #00486D;color: #fff;}

/* Bottom Section */

#bottom-expansion {background: url(../images/style8/bottom-expansion.png) 0 0 repeat-x;border-top: 1px solid #555;color: #bbb;}
#bottom-expansion a {color: #fff;}

/* Extra Content Styles */

.feature-thumb span {background: url(../images/style8/feature-thumb.png) 0 0 no-repeat;color: #fff;}
.feature-thumb2 span {background: url(../images/main/feature-thumb2.png) 0 0 no-repeat;color: #006699;}

/* RokFeature */

.rokfeature-tab-1, .rokfeature-tab-4 {background: #7CB7D3 url(../images/style8/rokfeature-tab-1.png) 0 0 no-repeat;border-right: 1px solid #000;}
.rokfeature-tab-2, .rokfeature-tab-5 {background: #7CB7D3 url(../images/style8/rokfeature-tab-2.png) 0 0 no-repeat;border-right: 1px solid #000;}
.rokfeature-tab-3, .rokfeature-tab-6 {background: #7CB7D3 url(../images/style8/rokfeature-tab-3.png) 0 0 no-repeat;border-right: 1px solid #000;}
.rokfeature-block-bg1, .rokfeature-block-bg4 {background: #1D4558;}
.rokfeature-block-bg2, .rokfeature-block-bg5 {background: #1D4558;}
.rokfeature-block-bg3, .rokfeature-block-bg6 {background: #1D4558;}
.rokfeature-option-block span {color: #fff;}
img.rokfeature-thumb {border: 3px solid #fff;}
.rokfeature-readon span {background: #666;color: #fff;}

/* @end */
