<mos:tmpl name="editgroup">
<div id="columnBig1">
  <table>
    <tr>
      <th>
		    <h3 align="center" class="componentheading"><mos:translate>GJ_EDIT_GROUP_INFO</mos:translate></h3>
      </th>
		</tr>
		<tr>
			<td>
        <form action ="index.php?option=com_groupjive" enctype="multipart/form-data" method="post" name="adminForm" id="adminForm">
          <p><mos:translate>GJ_GROUPNAME</mos:translate>*:<br/>
          <input type="text" name="gj_groupname" size="50" maxlength="255" value="{GJ_GROUPNAME}" /><br/>
          <mos:translate>GJ_GROUPDESCR</mos:translate> :<br/>

		      <textarea name="gj_aboutgroup" cols="40" rows="4" class="inputbox">{GJ_GROUPDESCR}</textarea>
          <br/>        
          <mos:translate>GJ_TYPE</mos:translate>*:<br/>
		      <select name="type" size="1" class="inputbox">
            {GJ_OPTIONS}
          </select><br/>
		      <p><mos:translate>GJ_LOGO</mos:translate> :<br/>
    		  <input type="file" name="image_file" size="20" /><br />
    		  <input type="hidden" name="_i" value="{GJ_ID}" />
    		  <input type="hidden" name="task" value="eg" />
    		  <input type="button" name="buttonsubmit" value="<mos:translate>GJ_SUBMIT</mos:translate>" class="button" onClick="submitbutton('eg');" />
		    </form>
        <small>* - <mos:translate>GJ_REQ</mos:translate></small>
      </td>
		</tr>
	</table>
	</div>
</mos:tmpl>
