<mos:tmpl name="editpost">
<div id="columnBig1">
	<table>
		<tr>
			<td>
	     	<form action="<mos:sef>index.php?option=com_groupjive&task=savepost&Itemid={ITEMID}</mos:sef>" method="POST">
  		    <b><mos:translate>GJ_EDIT</mos:translate></b>*:<br/>
		{GJ_INPUTBOX_SUBJECT}
	<br />
	<br />
  		    {GJ_INPUTBOX}<br/>
  		    <input type="hidden" name="_g" value="{GJ_GROUP}" />
  		    <input type="hidden" name="_i" value="{GJ_ID}" />
  		    <input type="submit" name="p" value='<mos:translate>GJ_SUBMIT</mos:translate>' class="button" />
		    </form>
        {GJ_NOTE}
			</td>
		</tr>
	</table>
</div>
</mos:tmpl>
