#mtm_wrap {
    border:1px solid black;
    width:642px;
    }
#mtm_menu {

    }
#mtm_menu a {
	  display: block;
	  font-family: Tahoma, Helvetica, sans-serif;
	  float: left;
		line-height: 25px;
    padding: 0px 25px;
    text-decoration:none;
    font-size: 11px;
    font-weight:bold;
    color:#fff;
    border-right: 1px solid #fff;
    }
    
#mtm_menu a.hover {
    background:#333;
    }
    
   
#mtm_menu span.active {
	display: inline;
}  

#mtm_menu span {
    display:none;
    }
  
    
#mtm_menu #img {
    vertical-align:bottom;
    }

#mtm_menu #subnav {
    font-size:10px;
    margin-bottom:2em;
    }
#mtm_menu #subnav a {
    color:#fff;
    margin-right:1em;
    }
#mtm_menu #subnav span {
    color:#fff;
    margin-right:1em;
    }
    
table.items tr.item td {
	color: #fff;
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
