<!-- ======================================
bulletin = Group Bulletin
-------------------------------------------
This template creates an overview of recent bulletins
and includes a FORM for adding new bulletins.

list_messages displays the most recent bulletins
with links to Author (CB Profile) and
Bulletin Title (the Bulletin content)

cond_form displays the FORM for creating a
new bulletin. The FORM includes Subject (text)
Write Bulletin {GJ_INPUTBOX} and
Submit (buttonsubmit)
=========================================== -->

<mos:tmpl name="bulletin">
	<div id="bulletin-tmpl-wrapper">
		<div id="bulletin-main-container">
			<h3><mos:translate>GJ_GROUP_BUL</mos:translate> <mos:translate>GJ_MOSTRECENT_BUL</mos:translate></h3>
			
			<div id="recent-bulletin-container">
				<div class="bulletin-subject-header">
					<div class="gj_bulletin-subject"><mos:translate>GJ_SUBJECT</mos:translate></div>
				</div>
				<div class="bulletin-createddate-header">
					<div class="gj_bulletin-createddate"><mos:translate>GJ_CREATED</mos:translate></div>
				</div>
				<div class="bulletin-username-header">
					<div class="gj_username"><mos:translate>GJ_USERNAME</mos:translate></div>
				</div>
				<div class="clearfloat"></div>
				<!-- end recent-bulletin-container -->
				
				<mos:tmpl name="cond_messages" type="condition" conditionvar="GJ_SHOWMESSAGES" varscope="bulletin">
					<mos:sub condition="yes">
						<mos:tmpl name="list_messages">
							<div>
								<div class="bulletin-subject-wrapper">
									<div class="recent-bulletin-subject">
										<a href="<mos:sef>index.php?option=com_groupjive&task=showfullmessage&idm={ID}&groupid={GROUP_ID}&Itemid={ITEMID}</mos:sef>">{SUBJECT}</a>
									</div>
								</div>
								<div class="bulletin-createddate-wrapper">
									<div class="recent-bulletin-createddate">
										{DATE_BUL}
									</div>
								</div>
								<div class="username-wrapper">
									<div class="recent-username">
										<a href="<mos:sef>index.php?option=com_comprofiler&task=userProfile&user={AUTHOR_ID}</mos:sef>">{AUTHOR_NAME}</a>
									</div>
								</div>
							</div>
							<div class="clearfloat"></div>
							<!-- end list_messages-container -->
						</mos:tmpl>
					</mos:sub>
					
					<mos:sub condition="no">
						<div>
							<div class="contentpane">
								<center><mos:translate>GJ_NO_MESSAGE</mos:translate></center>
							</div>
						</div>
					</mos:sub>
				</mos:tmpl>
				<!-- end cond message -->
				
				<div id="gj_bulletin-archive">
					<h5><a href="<mos:sef>index.php?option=com_groupjive&task=archive&groupid={GJ_ID_GROUP}&Itemid={ITEMID}</mos:sef>"><mos:translate>GJ_ARCHIVE</mos:translate></a> <mos:translate>GJ_GROUP_BUL</mos:translate></h5>
				</div>
			</div>
			<!--end recent-bulletin-container -->
			
			<mos:tmpl name="cond_form" type="condition" conditionvar="GJ_SHOWFORM" varscope="bulletin">
				<mos:sub condition="yes">
				
					<div id="bulletin-form-wrapper">
						<div id="bulletin-form-container">
						
							<h4><mos:translate>GJ_COMPOSE_BULLETIN</mos:translate></h4>
							<form action="index.php?option=com_groupjive" name="adminForm" enctype="multipart/form-data" method="post" />
								<div class="gj_form-text">
									<div class="gj_subject-desc">
										<mos:translate>GJ_SUBJECT_TITLE</mos:translate> <span class="asterisk"> * </span> :
									</div>
									<div class="gj_subject-field">
										<input type="text" name="subject" size="50" maxlength="255" class="inputbox" />
									</div>
									<br />
									<div class="gj_leave_message-desc">
										<mos:translate>GJ_LEAVE_MESSAGE</mos:translate> <span class="asterisk"> * </span> :
									</div>
									<div class="gj_leave_message-area">
										{GJ_INPUTBOX}
									</div>
									<div>
										<div class="submit-spacerleft">&nbsp;</div>
										<div class="submit-position">
											<input class="button" type="submit" name="buttonsubmit" value="<mos:translate>GJ_SUBMIT</mos:translate>" />
										</div>
									</div>
									<div>
										<div class="submit-spacerleft">&nbsp;</div>
										<div class="submit-position">
											{GJ_NOTE}
										</div>
									</div>									
									<input type="hidden" name="group_id" value="{GJ_ID_GROUP}" />
									<input type="hidden" name="task" value="addpost" />
									<input type="hidden" name="Itemid" value="{ITEMID}" />
									<input type="hidden" name="action" value="save" />
								</div>
								<div class="clearfloat"></div>
							</form>
						</div>
						<!-- end bulletin-form-container -->
					</div>
					<!-- end bulletin-form-wrapper -->
				</mos:sub>
				
				<mos:sub condition="no"></mos:sub>
			</mos:tmpl>
		</div>
		<!-- end bulletin-main-container -->
	</div>
	<!-- end bulletin-tmpl-wrapper -->
</mos:tmpl>
