<!-- =================================
showmailform = Email all in Group
--------------------------------------
The showmailform.tmpl FORM is used to email
all members in a Group.

showmailform.tmpl is a simple form containing
MAIL SUBJECT, MAIL_BODY, checkbox to CC_MOD,
and a "submit" button.
====================================== -->

<mos:tmpl name="showmailform">
	<div id="showmailform-tmpl-wrapper">
		<div id="showmailform-form-container">
			
			<h4><mos:translate>{HEADER}</mos:translate></h4>
			<div id="mailgroup-gj_message">
				{GJ_MESSAGE}
			</div>
			
			<form action="index.php" name="mailformtogroup" method="post" >
				<div class="gj_form-text">
				
					<div>
						<div class="gj_mail_subject-desc">
							<mos:translate>GJ_MAIL_SUBJECT</mos:translate>
						</div>
						<div class="gj_mail_subject-field">
							<input size="40" type="text" name="subject" id="subject" value="{SUBJECT}">
						</div>
						<div class="clearfloat"></div>
					</div>
					
					<br />
					
					<div>
						<div class="gj_mail_body-desc">
							<mos:translate>GJ_MAIL_BODY</mos:translate>
						</div>
						<div  class="gj_mail_body-area">
							<textarea name="body" rows="7" cols="40">{BODY}</textarea>
						</div>
						<div class="clearfloat"></div>
					</div>
					
					<mos:tmpl name="cond_show_copy" type="condition" conditionvar="COPY" varscope="showmailform">
						<mos:sub condition="1">
							<div>
								<div class="gj_mail_cc_mod-desc">
									<mos:translate>GJ_MAIL_CC_MOD</mos:translate>
								</div>
								<div class="gj_mail_cc_mod-checkbox">
									<input type="checkbox" name="copy" id="copy" checked="{COPY}">
								</div>
								<div class="clearfloat"></div>
							</div>
						</mos:sub>
					</mos:tmpl>
					
					<div>
						<div class="submit-spacerleft">&nbsp;</div>
						<div class="submit-position">
							<input type="submit" name="submitmail" value="<mos:translate>GJ_SUBMIT</mos:translate>" class="button" onClick="submitbutton('eg');">
						</div>
					</div>
					<input type="hidden" name="option" value="com_groupjive">
					<input type="hidden" name="task" value="{TASK}">
					<input type="hidden" name="Itemid" value="{ITEMID}">
					<input type="hidden" name="groupid" value="{GID}">
					<div class="clearfloat"></div>
					
				</div>
				<!-- end mailform-to-group -->
			</form>
			<div class="errorlink-goback">{GJ_ERROR_LINK}</div>	
		</div>
		<!-- end showmailform-form-container -->
	</div>
	<!-- end showmailform-tmpl-wrapper -->
</mos:tmpl>
