<!-- ===========================================================
showgroupmini = (displays menus to group links, actions, moderator, etc...)
DISPLAY: only displays at top of *integration* pages in GroupJive
================================================================
ABOUT SHOWGROUPMINI:
-----     -----     -----     -----     -----     -----     -----     
... write text here for showgroupmini
================================================================
... write text here for showgroupmini
================================================================ -->

<mos:tmpl name="showgroupmini">
	<div id="showgroupmini-tmpl-wrapper">
		<div id="showgroupmini-main-container">
			<!-- <h3 class="componentheading">
				<mos:translate>GJ_GROUP_FUNCTIONS</mos:translate>
			</h3> -->
			
			<div class="sgmini-groupname">
				<div class="miniheader">{GJ_GROUPNAME}</div>
			</div>
			
			<div id="sgmini-logoandlinks-container">
				<div id="sgmini-grouplogo">
					<div class="sgmini-grouplogo">
						{GJ_GROUPLOGO}
					</div>
				</div>			
				<div id="sgmini-grouplinks">
					<div class="sgmini-grouplinks">
						{GJ_LINKS}
					</div>
				</div>
			</div>
			<!-- end minmod-logoandlinks-container -->
			
			
			<div id="sgmini-infoandmodfuncs-container">
				
				<div id="sgmini-mod-functions">
					<div class="sgmini-mod-functions">
						{GJ_MODERATOR_FUNC}
					</div>
				</div>
				
				<div id="sgmini-groupinfo">
					<div class="sgmini-groupinfo">
						{GJ_ACTIONS}
						<ul>
							<li>
								<strong><mos:translate>GJ_MODER_PROFILE</mos:translate></strong>
								<br />
								<a href="<mos:sef>index.php?option=com_comprofiler&task=userProfile&user={GJ_GROUPCREATORID}</mos:sef>">
									{GJ_GROUPCREATOR}
								</a>
								&nbsp;
								<mos:tmpl name="hidemaillink" type="condition" conditionvar="SHOWMAILLINK" varscope="showgroupmini">
									<mos:sub condition="1">
										<a href="<mos:sef>index.php?option=com_groupjive&task=mailowner&groupid={GJ_GROUPID}&Itemid={ITEMID}</mos:sef>"
											<img src="images/M_images/emailButton.png" border="0" align="top"/>
										</a>
									</mos:sub>
								</mos:tmpl>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfloat"></div>


		<!-- end main float left -->

	</div>
	<div class="clearfloat"></div>
	<!-- end showgroupmini-wrapper -->

</mos:tmpl>
