<!-- =======================================================
showmenu = Search -AND- the GroupJive Simple Description
------------------------------------------------------------
This template is rendered at the top of these GroupJive LISTS:
1.) Categories Lists
2.) Groups Lists
------------------------------------------------------------
showmenu.tmpl displays a SIMPLE DESCRIPTION
(language string) welcome the user and explaining what can
be done inside GroupJive as well as displaying SEARCH (function).
============================================================ -->

<mos:tmpl name="showmenu">
	<div id="showmenusearch-tmpl-wrapper">
		<div id="showmenusearch-container">
		
			<div id="simpledesc-wrapper">
				<div id="simplewelcome">
					<h3><mos:translate>GJ_SIMPLE_WELCOME</mos:translate></h3>
				</div>
				<div id="simpledesc">
					<mos:translate>GJ_SIMPLE_DESCR</mos:translate>
				</div>
			</div>
			
			<div id="searchbox">
				<form action="<mos:sef>index.php?option=com_groupjive&task=search</mos:sef>" method="post">
					<input type="text" name="searchstring" value="<mos:translate>GJ_SEARCH_GROUP</mos:translate>" onfocus="this.value='';"/>
					<input type="submit" value="<mos:translate>GJ_SEARCH</mos:translate>" />
				</form>
				
				<div class="creategroup-sm">
					{CREATEGROUPSLINK}
				</div>
			</div>
			<!-- end searchbox -->
			
			<div class="clearfloat"></div>
		
		</div>
		<!-- end showmenusearch-container -->
		
	</div>
	<!-- end showmenusearch-tmpl-wrapper -->

</mos:tmpl>
