<mos:tmpl name="showcat">
  <h4><mos:translate>GJ_GR_CUR_CAT</mos:translate></h4>
  <mos:tmpl name="list_entry">
  for ($i=0;$i
  <count($rows);$i++) 		{ 			$row=&$rows[$i]; 			echo $row-> catname."&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
    echo "
    <a href=index2.php?option=com_groupjive&act=edcat&id=".$row->id.">".GJ_EDIT."</A>
    &nbsp;&nbsp;&nbsp;
    <a href=index2.php?option=com_groupjive&act=delcat&id=".$row->id.">".GJ_DELETE_GROUP."</A>
    <br/>
  </mos:tmpl name="list_entry">  
    
  <form action="index2.php?option=com_groupjive&act=addd" method="POST">
    <mos:translate>GJ_ADD</mos:translate>
    <br />
    <input type="text" name="catname" id="catname" size="50" maxlength="255" />
    <br />
    <input type="submit" name="s" id="s" value="<mos:translate>GJ_SUBMIT</mos:translate>" />
  </form>
</mos:tmpl>
