<mos:tmpl name="invite">
<div id="columnBig1">
<div id="gjloadmarker" style="color:red">&nbsp;</div>
	<table>
			<tr>
				<td>
					<form action=index.php?option=com_groupjive&task=invitef method="POST">
  		      <mos:translate>GJ_FR_NAME</mos:translate><br/>{AJAX_DIV}
  		      <input type="text" name="fr_name" id="fr_name" size="50" maxlength="255" class="inputbox" {AJAX_EVENT}/><br/>
		      {EMAIL}		
  		      <input type="hidden" name="group_id" value="{ID}" />
  		      <input type="hidden" name="group_name" value="{NAME}" />
  		      <input type="submit" value="<mos:translate>GJ_SUBMIT</mos:translate>" name="g" class="button" />
      		</form>
			</td>
		</tr>
			</table>
</div>
</mos:tmpl>
