<mos:tmpl name="showcat" >
	<div id="contentpane" class="contentpane">
		<table width="100%" class="contentpane">
			<tr>
				<td>
					{PAGE_LINKS}
				</td>
				<td>
					{PAGE_LIST_OPTIONS}
				</td>
				<td>
					{PAGE_COUNTER}
				</td>
			</tr>
		</table>

		<div class="catcontainer">
			<mos:tmpl name="list_entry" >
	<mos:tmpl name="hidepriv" type="condition" conditionvar="GJ_HIDE" varscope="list_entry">
	<mos:sub condition="no">
				<div class="groupcontainer">
					<h3>
						<mos:tmpl name="cond_show_url_odd" type="condition" conditionvar="GJ_SHOWURL_SHOWGROUP" varscope="list_entry">
							<mos:sub condition="yes">
								<a href="{GJ_URL_SHOWGROUP}">{GJ_LINKNAME_SHOWGROUP}</a>
							</mos:sub>
							<mos:sub condition="no">
								{GJ_LINKNAME_SHOWGROUP}
							</mos:sub>
						</mos:tmpl>
					</h3>
					<div class="groupimage">
						<div class="gjimg">
							<mos:tmpl name="cond_show_urlimg_odd" type="condition" conditionvar="GJ_SHOWURL_SHOWGROUP" varscope="list_entry">
								<mos:sub condition="yes">
									<a href="{GJ_URL_SHOWGROUP}"><img src="{GJ_CATIMAGE}" alt="{GJ_LINKNAME_SHOWGROUP}"/></a>
								</mos:sub>
								<mos:sub condition="no">
									<img src="{GJ_CATIMAGE}" alt="{GJ_LINKNAME_SHOWGROUP}"/>
								</mos:sub>
							</mos:tmpl>
						</div>
					</div>
					<p>{GJ_DESCRIPTION}</p>
					<p><mos:translate>GJ_MEMBERS</mos:translate>:{GROUPUSERCOUNT}<br />
					<mos:translate>GJ_CREATED</mos:translate>:{GJ_CREATED_DATE}<br />
					{GJ_PRIVACY_STATUS} 
				<mos:tmpl name="hidemaillink" type="condition" conditionvar="SHOWMAILLINK" varscope="list_entry">
					<mos:sub condition="1">
						<a href="<mos:sef>index.php?option=com_groupjive&task=mailowner&groupid={ID}&Itemid={ITEMID}</mos:sef>">
							<img src="images/M_images/emailButton.png" border="0" alt="<mos:translate>GJ_MAIL_OWNER</mos:translate>"/>
						</a>
					</mos:sub>
				</mos:tmpl></p>
					<div class="catspacer">&nbsp;</div>
					</div>
			</mos:sub>
		<mos:sub condition="yes">
		</mos:sub>
		</mos:tmpl>
				</mos:tmpl>
			
			</div>
	</div>
</mos:tmpl>
