<!-- ===========================================================
showgroup = (shows info about group, links, actions, moderator, etc...)
DISPLAY: displays at top of all groupjive pages (except some forms)
================================================================
REMOVING MODERATOR FROM VIEW: some community members have requested the 
"highly prominent" Moderator elements in the showgroup page be minimized.
-----     -----     -----     -----     -----     -----     -----     
To accomplish this GroupJive has provided templates with the "min-mod" extension.
These templates can be found in com_groupjive/templates. 
================================================================

The showgroup Header contains GROUPNAME, GROUPLOGO, GROUPINFO,
group LINKS, group ACTIONS, group CREATORIMAGE, group MODERATOR_FUNC

SPECIAL NOTE: showgroup.tmpl and the CSS here is likely the
most important template in GroupJive because showgroup is consistantly
in the users viewport.

Suggestions for design are to place showgroup elements at the top
of the page and bring groupjive.tmpl in underneath it.
-OR-
float showgroup.tmpl using CSS and design other templates to become
place by design around, between and next to the floated showgroup elements.
================================================================ -->

<mos:tmpl name="showgroup">
	<div id="showgroup-tmpl-wrapper">
	
		<div id="main-float-left">
			<h3 class="componentheading"><mos:translate>GJ_GROUP_FUNCTIONS</mos:translate></h3>
			
			<div class="groupname">
				<h2>{GJ_GROUPNAME}</h2>
			</div>
			
			<div id="logo-and-info-wrap">
				<div class="grouplogo">
					{GJ_GROUPLOGO}
				</div>
				
				<div class="groupinfo">
					{GJ_GROUPINFO}
				</div>
			</div>
			<div class="clearfloat"></div>
			
			<div id="links-and-actions-wrap">
				<div class="grouplinks">
					{GJ_LINKS}
				</div>
				<div class="groupactions">
					{GJ_ACTIONS}
				</div>
			</div>
			<div class="clearfloat"></div>
			
		</div>
		<!-- end main float left -->
		
		<div id="main-float-right">
		
			<div id="creator-wrapper">
				<h3 class="componentheading"><mos:translate>GJ_CREATOR</mos:translate></h3>
				{GJ_CREATORIMAGE}
				<br />
				<a href="<mos:sef>index.php?option=com_comprofiler&task=userProfile&user={GJ_GROUPCREATORID}</mos:sef>">
					{GJ_GROUPCREATOR}
				</a>
				<mos:tmpl name="hidemaillink" type="condition" conditionvar="SHOWMAILLINK" varscope="showgroup">
					<mos:sub condition="1">
				<a href="<mos:sef>index.php?option=com_groupjive&task=mailowner&groupid={GJ_GROUPID}&Itemid={ITEMID}</mos:sef>">
					<img src="images/M_images/emailButton.png" border="0" align="top"/>
				</a>
					</mos:sub>
				</mos:tmpl>
			</div>
			<div class="clearfloat"></div>
			
			<div id="moder_functions-wrapper">
				<h3 class="componentheading"><mos:translate>GJ_MODER_FUNCTION</mos:translate></h3>
				{GJ_MODERATOR_FUNC}
			</div>
			
		</div>
		<!-- end main-float-right -->
		
	</div>
	<!-- end showgroup-wrapper -->
	<div class="clearfloat"></div>
</mos:tmpl>
