<mos:tmpl name="showcat">
  <div id="contentpane" class="contentpane">
	<table width="100%" class="contentpane">
		<tr>
			<td>
				{PAGE_LINKS}
			</td>
			<td>
				{PAGE_LIST_OPTIONS}
			</td>
			<td>
				{PAGE_COUNTER}
			</td>
		</tr>
	</table>
    <br />
    <br />
    <table class="contentpane" width="100%">
      <tr>
        <td colspan="5" class="sectiontableheader">
          <mos:translate>GJ_CUR_GROUPS</mos:translate>
        </td>
      </tr>
      <mos:tmpl name="list_entry">
	<mos:tmpl name="hidepriv" type="condition" conditionvar="GJ_HIDE" varscope="list_entry">
	<mos:sub condition="no">
      <tr>
        <td>
          <img src="{GJ_CATIMAGE}" alt="{GJ_LINKNAME_SHOWGROUP}" />
        </td>
        <td class="sectiontableentry1">
          <b>
          <mos:tmpl name="cond_show_url" type="condition" conditionvar="GJ_SHOWURL_SHOWGROUP" varscope="list_entry">
            <mos:sub condition="yes">
              <a href="{GJ_URL_SHOWGROUP}">{GJ_LINKNAME_SHOWGROUP}</a>
            </mos:sub>
            <mos:sub condition="no">
              {GJ_LINKNAME_SHOWGROUP}
            </mos:sub>
          </mos:tmpl>
          </b>
        </td>
        <td valign="top" class="sectiontableentry1">
          {GJ_PRIVACY_STATUS}
				<mos:tmpl name="hidemaillink" type="condition" conditionvar="SHOWMAILLINK" varscope="list_entry">
					<mos:sub condition="1">
						<a href="<mos:sef>index.php?option=com_groupjive&task=mailowner&groupid={ID}&Itemid={ITEMID}</mos:sef>">
							<img src="images/M_images/emailButton.png" border="0" alt="<mos:translate>GJ_MAIL_OWNER</mos:translate>"/>
						</a>
					</mos:sub>
				</mos:tmpl>
        </td>
        <td valign="top" class="sectiontableentry1">
          <mos:translate>GJ_MEMBERS</mos:translate>:{GROUPUSERCOUNT}
        </td>
        <td valign="top" class="sectiontableentry1">
          <mos:translate>GJ_CREATED</mos:translate>:{GJ_CREATED_DATE}
        </td>
      </tr>
      <tr style="border-bottom: solid #cccccc 1px;">
        <td colspan='5'>{GJ_DESCRIPTION}</td>
      </tr>
	</mos:sub>
	<mos:sub condition="yes">
	</mos:sub>
      </mos:tmpl>
      </mos:tmpl>
    </table>
  </div>
</mos:tmpl>
