<mos:tmpl name="showmailform">
<div id="columnBig1">
	<h4>{HEADER}</h4>
	<font color="red">{GJ_MESSAGE}</font>
	<form action="index.php" name="mailformtogroup" method="post" >
		<table>
			<tr>
				<td><mos:translate>GJ_MAIL_SUBJECT</mos:translate></td>
				<td><input size="40" type="text" name="subject" id="subject" value="{SUBJECT}"></td>
			</tr>
			<tr>
				<td><mos:translate>GJ_MAIL_BODY</mos:translate></td>
				<td><textarea name="body" rows="7" cols="40">{BODY}</textarea></td>
			</tr>
			<mos:tmpl name="cond_show_copy" type="condition" conditionvar="COPY" varscope="showmailform">
			<mos:sub condition="1">
			<tr>
				<td><mos:translate>GJ_MAIL_CC_MOD</mos:translate></td>
				<td><input type="checkbox" name="copy" id="copy"></td>
			</tr>
			</mos:sub>
			</mos:tmpl>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="submitmail" value="<mos:translate>GJ_SUBMIT</mos:translate>" class="button" onClick="submitbutton('eg');"></td>
			</tr>
		</table>
	<input type="hidden" name="option" value="com_groupjive">
	<input type="hidden" name="task" value="{TASK}">
	<input type="hidden" name="Itemid" value="{ITEMID}">
	<input type="hidden" name="groupid" value="{GID}">
	</form>
</div>
</mos:tmpl>
