/** IE6 is a hunk of crap!!! due to limitations in the CSS capabilities of IE, these hacks are required **/

#horiz-menu li.active-sfHover li a:hover {background:none;}
#main-body, #maincol, #leftcol, #rightcol, #leftcol .padding, #rightcol .padding, #bottom, .module, .moduletable, .pathway-block, .variation-chooser, #mainmodules, #mainmodules2, #mainmodules3, #mainmodules4,  .maincontent-surround, .maincontent-surround .padding, #inset-block-left, #inset-block-right, #maincontent-block, #mainmodules .block, div.block.first, div.block.middle, div.block.last, .module div, .module div div, .module div div div, #frame, #bottommodules, #showcase, #horiz-menu-shadow, .slider1, .slider2, .slider3, .slider4, #moduleslide, #breadcrumbs, .article-extras, .header-spacer, #logo-bg-area, #logo-surround, .side-shadow-l, .side-shadow-r, .wrapper, #page-bg, .content-bottom, .content-bottom2, .content-bottom3, .side-mod, .side-mod2, .side-mod-bottom, .side-mod-bottom2, .side-mod-bottom3, h3.module-title, h3.module-title span, h3.module-title span.bg, h3.module-title span.bg2, .side-title-container, .side-shadow-l, .side-shadow-r, #main-content, .frontpage-item, .mainblock-mod, .mainblock-mod2, .mainblock-mod2 div, .mainblock-mod-bottom, .mainblock-mod-bottom2, .mainblock-mod-bottom3 {zoom: 1;}

.variation-chooser .controls { position: relative; float: left; }

#header-tools,#horiz-menu { zoom:1;}
#top-divider {overflow:hidden;}
#searchmod { width:290px;}
#horiz-menu {position:relative;z-index:140;}
#horiz-menu li a span { display:inline-block;}
#horiz-menu ul ul {background-image: url(../images/main/horizmenu-dropdown-bg.gif)}
#horiz-menu ul ul li, #horiz-menu ul ul li.active, #horiz-menu li.active li a:hover, #horiz-menu li.active li a.sfHover, #horiz-menu li a.separator {background: #222}
#horiz-menu ul ul li.sfHover, #horiz-menu ul ul li.active {background: #333;}

.content-bottom, .content-bottom2, .content-bottom3, .side-mod-bottom, .side-mod-bottom2, .side-mod-bottom3, .mainblock-mod-bottom, .mainblock-mod-bottom2, .mainblock-mod-bottom3 {line-height:1px;font-size:1px;zoom:1;position:relative;height:6px;overflow:hidden;}
#mainbody { width: 100%; position: relative;}

.bottom-padding, #bottom-block, #footer-bar { zoom:1;}

#footer-bar {height: 32px}

#logo-bg-area {z-index:141;}
#logo-surround {z-index:142;}

h1.componentheading span.bg {padding: 5px 10px;}
h1.componentheading span.bg2 {padding: 2px 0 2px 0;}

.side-mod h3.module-title { padding-top: 3px;}
.side-mod h3.module-title span.bg { padding: 2px 10px;}
.side-mod h3.module-title span.bg2 {padding: 2px 0 2px 0;}

.article-extras { overflow:hidden;}
.readon-tab-block {float: right;}
.readon-tab, .readon-tab2, .readon-tab3 {float: left;zoom:1;position:relative;}

.rokfeature-image { position:relative;width:670px;overflow:hidden;}
.rokfeature-tab-1, .rokfeature-tab-2, .rokfeature-tab-3 {height:95px;z-index:5;}

.cols2 {width: 48.6%;float: left;}
.cols3 {width: 32.3%;float: left;}

/* rok newspager */
.roknewspager-pages {zoom: 1;}
.roknewspager-numbers {display: inline;}
.roknewspager-prev, .roknewspager-next, .roknewspager-prev-disabled, .roknewspager-next-disabled {margin-top: 1px;}


/* ie6 warning */
#iewarn {background: #C6D3DA url(../images/error.png) 10px 20px no-repeat;position: relative;z-index: 1;opacity: 0;margin: -150px auto 0;font-size: 110%;color: #001D29;z-index: 8000;}
#iewarn div {position: relative;border-top: 5px solid #95B8C9;border-bottom: 5px solid #95B8C9;padding: 10px 80px 10px 220px;}
#iewarn h4 {color: #900;font-weight: bold;line-height: 120%;}
#iewarn a {color: #296AC6;font-weight: bold;}
#iewarn_close {background: url(../images/close.png) 50% 50% no-repeat;display: block;cursor: pointer;position: absolute;width: 61px;height: 21px;top: 25px;right: 12px;}
#iewarn_close.cHover {background: url(../images/close_hover.png) 50% 50% no-repeat;}
/* end ie6 warning */


/* page peel overrides for demo site */
a.fliptip {display: block;z-index: 100000;position: relative;}
