<!-- ===========================================================
showgroup = (shows info about group, links, actions, moderator, etc...)
DISPLAY: displays at top of all groupjive pages (except some forms)
================================================================
REMOVING MODERATOR FROM VIEW: some community members have requested the 
"highly prominent" Moderator elements in the showgroup page be minimized.
-----     -----     -----     -----     -----     -----     -----     
To accomplish this view rename the showgroup.tmpl file to showgroup.orig.tmpl
Find the showgroup_min-mod.tmpl file
Rename this file to showgroup.tmpl
================================================================
The showgroup Header contains GROUPNAME, GROUPLOGO, GROUPINFO,
group LINKS, group ACTIONS, group CREATORIMAGE, group MODERATOR_FUNC

SPECIAL NOTE: showgroup.tmpl and the CSS here is likely the
most important template in GroupJive because showgroup is consistantly
in the users viewport.

Suggestions for design are to place showgroup elements at the top
of the page and bring groupjive.tmpl in underneath it.
-OR-
float showgroup.tmpl using CSS and design other templates to become
place by design around, between and next to the floated showgroup elements.
================================================================ -->

<mos:tmpl name="showgroup">
	<div id="showgroup-tmpl-wrapper">
		<div id="showgroup-main-container">
			<div id="showgroup-outer-container">
				<h4 class="sectiontableheader">{GJ_GROUPNAME}</h4>
				<div id="showgroup-inner-container">
		
					<div id="main-float-left">
					
						<div id="group-menu-header">
							<div class="gj_group_menu">
								<h5><mos:translate>GJ_GROUP_MENU</mos:translate></h5>
							</div>
						</div>
						<div id="links-and-actions-wrap">
							<div class="grouplinks">
								{GJ_LINKS}
							</div>
							<div class="groupactions">
								{GJ_ACTIONS}
							</div>
							<div id="moder_functions-wrapper">
								{GJ_MODERATOR_FUNC}
							</div>
						</div>	
													
					</div>
					<!-- end main float left -->
		
					<div id="main-float-center">
					
						<div id="group-info-header">
							<div class="gj_group_info">
								<h5><mos:translate>GJ_GROUP_INFO</mos:translate></h5>
							</div>
						</div>
						<div id="info-wrap">
						
							<div class="groupinfo">
								{GJ_GROUPINFO}
							</div>
		
							<div id="creator-wrapper">
								<div class="creator-name-link">
								
									<ul id="showgroup_moder_profile">
										<li>
											<strong><mos:translate>GJ_MODER_PROFILE</mos:translate></strong>
											<a href="<mos:sef>index.php?option=com_comprofiler&task=userProfile&user={GJ_GROUPCREATORID}</mos:sef>">
												{GJ_GROUPCREATOR}
											</a>
											<mos:tmpl name="hidemaillink" type="condition" conditionvar="SHOWMAILLINK" varscope="showgroup">
					<mos:sub condition="1">
				<a href="<mos:sef>index.php?option=com_groupjive&task=mailowner&groupid={GJ_GROUPID}&Itemid={ITEMID}</mos:sef>">
					<img src="images/M_images/emailButton.png" border="0" align="top"/>
				</a>
					</mos:sub>
				</mos:tmpl>
										</li>
									</ul>
									
								</div>
							</div>
							<!-- end creator-wrapper -->
						</div>
						<!-- end info-wrap -->
						
					</div>
					<!-- end main float center -->
		
					<div id="main-float-right">
						<div id="group-logo-header">
							<div class="gj_group_logo">
								<h5><mos:translate>GJ_GROUP_LOGO</mos:translate></h5>
							</div>
						</div>
						<div id="logo-and-info-wrap">
							<div class="grouplogo">
								{GJ_GROUPLOGO}
							</div>
						</div>
					</div>
					<!-- end main-float-right -->
					<div class="clearfloat"></div>
				</div>
				<!-- end showgroup-inner-container -->
			</div>
			<!-- end showgroup-outer-container -->

		</div>
		<!-- end showtgroup-main-container -->
	</div>
	<!-- end showgroup-wrapper -->
	<div class="clearfloat"></div>
</mos:tmpl>
